/static/admin/* linguist-vendored
/static/entry/highcharts* linguist-vendored
/static/entry/solid-gauge.js linguist-vendored
/static/entry/jquery.min.js linguist-vendored
*.pyc linguist-vendored
/static/entry/2019/highcharts* linguist-vendored
/static/entry/2019/jquery.min.js linguist-vendored
/static/entry/bootstrap-4.4.1.js linguist-vendored
/static/entry/flickity.pkgd.js linguist-vendored
/static/entry/flickity.pkgd.min.js linguist-vendored
/static/entry/flickity.min.css linguist-vendored
/static/entry/flickity.css linguist-vendored