*.py[co]
*.sw[po]
venv/*
venv/
/venv/
/venv/*
settings.py
media/json/*
media/robots/*
!media/robots/0.png
!media/robots/1114.jpg
!media/robots/3683.jpg
!media/robots/4343.JPG
!media/robots/default.jpg
secrets.json
.idea/*
.idea
.idea/
/.idea/*
/.idea/
/.idea
*.iml
modules.xml
.history
.vscode/*
*.vsix
*.log
match_history.xlsx
