/static/admin/* linguist-vendored
solid-gauge.js linguist-vendored
*.pyc linguist-vendored
highcharts* linguist-vendored
jquery* linguist-vendored
bootstrap* linguist-vendored
*.min.js linguist-vendored
*.min.css linguist-vendored
flickity.* linguist-vendored
