*.pyc
nickTest/oldabout.html
nickTest/oldblank.html
nickTest/olddata.html
nickTest/oldexperimental.html
nickTest/oldglance.html
nickTest/oldindex.html
nickTest/oldlogin.html
nickTest/oldmatchlanding.html
nickTest/oldmatchscout.html
nickTest/oldpitlanding.html
nickTest/oldpitscout.html
nickTest/oldsettings.html
nickTest/oldteams.html
nickTest/oldupload.html
nickTest/oldvisualization.html
nickTest/testregister.html
*.html
