@charset "utf-8";

body {
	color: white;
	background-color: #333333;
	font-family: Roboto, Helvetica;
	margin: 0px;
}
img {
	height: 100%;
}
a {
	text-decoration:none;
}
.topbar {
	display: flex;
	height: 40px;
	width: 100%;
	background-color: #0F4D8D;
	margin: 0px;
	padding: 0px;
	position: fixed;
	top: 0;
	z-index: 9;
}
.bodyContainer{
	margin-top: 40px;
	padding: 20px 15px 20px 15px;
	
}
.heroContent {
	display: flex;
	justify-content: center;
	width: 100%;
}
#heroSpace {
	height: 60px;
	padding-bottom: 20px;
}
.bodyBackground {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center -15vh;
}
#tileglanceBackground {
	background-image: url("img/Glance Background - 2000w.png");
	background-size: 45%;
	background-position: center;
	justify-content: center;
}
.tileContainer{
	display: flex;
	flex-wrap: wrap;
}
.infotileContainer{
	display: flex;
	flex-wrap: wrap;
	margin-right: 10px;
	justify-content: center;
}
.swissLogo {
	height: auto;
	padding-left: 5px;
}
#swissLogo {
	transition: margin-left .5s;
}
#bodyContainer{
	transition: margin-left .5s;
}
.pageHeader{}
.bigBox {
	height: 100px;
	width: 100px;
	padding: 100px;
	margin: 0px 0px 10px 10px;
	background-color: #0F4D8D;
	transition: all .2s ease-in-out; 
}
.bigBox:hover { 
	transform: scale(1.075); 
	box-shadow: 2px 5px 25px 2px #232323;
}
.pictureBox {
	height: 300px;
	width: 300px;
	padding: 0;
	margin: 0px 0px 10px 10px;
	background-color: grey;
	transition: all .2s ease-in-out; 
	flex-grow: 5;
}
.pictureBox img {
	width: 100%;
	object-fit: cover;
}
.pictureBox:hover { 
	transform: scale(1.075); 
	box-shadow: 2px 5px 25px 2px #232323;
	z-index: 1;
}
.graphBox {
	height: 300px;
	width: auto;
	padding: 0;
	margin: 0px 0px 10px 10px;
	background-color: #0F4D8D;
	transition: all .2s ease-in-out; 
}
.graphBox:hover { 
	transform: scale(1.075); 
	box-shadow: 2px 5px 25px 2px #232323;
	z-index: 1;
}

.graphBoxWide {
	height: 300px;
	width: 610px;
	padding: 0;
	margin: 0px 0px 10px 10px;
	background-color: #0F4D8D;
	transition: all .2s ease-in-out; 
}
.graphBoxWide:hover { 
	transform: scale(1.075); 
	box-shadow: 2px 5px 25px 2px #232323;
}
.infoBox {
	display: inline-block;
	min-height: 280px;
	height: auto;
	padding: 10px;
	margin: 0px 0px 10px 10px;
	background-color: #0F4D8D;
	transition: all .2s ease-in-out; 
}
.infoBox:hover { 
	transform: scale(1.075); 
	box-shadow: 2px 5px 25px 2px #232323;
}
.infoBox h1, p { margin: 10px; }
.infoHeader { display: flex; align-items: center; height: auto; border-bottom: 2px solid white }
.infoRow { display: flex; margin-top: 5px; background-color: #09315A; }
.infoLColumn { flex: 25%; }
.infoRColumn { flex: 75%; }
.infoWide { width: 510px; flex-grow: 5 }
.infoReg { width: auto; min-width: 260px; flex-grow: 1; max-width: 500px; }

.wideBox {
	display: flex;
	padding: 100px;
	height: 100px;
	width: 410px;
	margin: 0px 0px 10px 10px;
	background-color: #0F4D8D;
	transition: all .2s ease-in-out; 
}
.wideBox:hover { 
	transform: scale(1.075); 
	box-shadow: 2px 5px 25px 2px #232323;
}
.smallBox {
	display: flex;
	padding: 22.5px;
	height: 100px;
	width: 100px;
	margin: 0px 0px 10px 10px;
	background-color: #0F4D8D;
	transition: all .2s ease-in-out; 
}
.smallBox:hover {
	transform: scale(1.15); 
	box-shadow: 2px 5px 25px 2px #232323;
}
.homeText {
	color: white;
	text-decoration: none;
	font-size: 75px;
	font-weight: 1000;
	margin: 10px 0 0 0;
}
.teamChip {
	margin: 0px 0px 10px 10px;
	padding: 20px;
	height: 350px;
	width: 260px;
	background-color: #262626;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	transition: all .2s ease-in-out;
}
.teamChip:hover {
	transform: scale(1.1); 
	box-shadow: 2px 5px 25px 2px #232323;
}
.robotPhoto {width:inherit; height:min-content;}
.stickyChip {
	display: flex;
	flex-wrap: wrap;
	background-color: #444444;
	border: none;
	height: auto;
	min-width: 200px;
	max-width: 80%;
	padding: 15px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 10px 2px #232323;
	position: fixed;
	z-index: 2;
}
.teamnumberPill {
	text-align: center;
	width: 72px;
	height: 28px;
	border-radius: 10px;
	border: 1px solid white;
}
.teamnumberPill p {
	padding-top: 1px;
	margin: 0px;
	font-size: 23px;
	font-weight: 700;
	color: white;
	user-select: none;
}
.teamnamePill {
	text-align: left;
	height: 28px;
}
.teamnamePill p {
	padding: 3px 0 0 10px;
	margin: 0px;
	font-size: 23px;
	font-weight: 700;
	color: white;
	user-select: none;
	white-space:nowrap;
}

.largeGraph {
	height: 500px;
	width: 1000px;
	background-color: aqua;
}

@media screen and (max-width: 1280px) {
	.glanceImage {
		background-position: center -10vh;
	}
	.sidebar {
	  background-color: #333333;
	  padding-top: 15px;
	}
	.sidebar a {
		font-size: 18px
	}
	.topbar {
		height: 60px;
	}	
	.bodyContainer { 
		margin-top: 60px;
		background-position: center -10vh;
	}
}

/* for mobile phones, portrait and landscape */

@media screen and (max-width: 820px) and (max-height: 800px) {
	.bodyBackground {
		background-size: 150%;
		background-position: center 3vh;
	}
	.tileContainer {	}
	.bigBox {
		margin: 5px 0 0 5px;
		padding: 20px;
	}
	.wideBox {
		margin: 5px 0 0 5px;
		width: 245px;
		padding: 20px;
	}
	.smallBox {
		margin: 5px 0 0 5px;
		height: 50px;
		width: auto;
		padding: 8.5px
	}
	.homeText {
		font-size: 28px;
		margin-top: 55px;
	}
	.pictureBox {
		width: 100%;
		height: fit-content;
	}
	.pictureBox img {
		height: 100%;
		width: inherit;
	}

}


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	font-weight: 1000;
	transition: 0.3s;
}
.sidebar a:hover {
	color: #f1f1f1;
}
.sidebar a:active {
	color: #0F4D8D;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.hamburgerButton {
	height: 100%;
	width: 50px;
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	border: none;
}
.hamburgerButton:hover {
  background-color: #444;
}
.changeTeam {
	background: none;
	border: none;
	height: auto;
	width: auto;
	display: flex;
}
.teamDrawer {
	padding-top: 20px;
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-y: hidden;
	overflow-x: hidden;
	transition: 0.5s;
}
.teamDrawer a {
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	font-weight: 1000;
	transition: 0.3s;
}
.teamSelect {
	padding-top: 60px;
	margin: auto;
	height: auto;
	max-width: 500px;
	width: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.teamSelect div {
	margin: 10px 10px 0 10px;
}
.teamDrawer a:hover {
	color: #f1f1f1;
}
.teamDrawer a:active {
	color: #0F4D8D;
}






.glanceImage {
	background-image: url("img/Glance Background - 2000w.png");
	background-attachment: fixed;
}
.matchImage { 
	background-image: url("img/match background.png");
}
.scoutImage {
	background-image: url("img/scout background.png")
}
.teamsImage {
	background-image: url("img/Teams Background.png");
	background-attachment: fixed;
}