{% load static %}
{% load hours_tags %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Build Hours - View</title>
<script src="{% static 'entry/jquery.min.js' %}"></script>
<script src="{% static 'entry/validate.js' %}"></script>
<script src="{% static 'entry/script.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'entry/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/colorsheet.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/formstyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/buildhours.css' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}{% static 'favicon/favicon-16x16.png' %}">
<meta name="theme-color" content="0F4D8D">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
	<div class="topbar">
		<div class="hamburgerButton" onClick="openNav()">
			<button class="hamburgerButton" onClick="openNav()">☰</button>
		</div>
		<div class="swissLogo" id="swissLogo">
			<a href="{% url 'entry:index' %}">
			<img src="{{ MEDIA_URL }}{% static 'SwissIcon2x.png' %}" alt="SWISS Logo">
			</a>
		</div>
	</div>
	<div id="sideNav" class="sidebar">
		<div>
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
			<a href="{% url 'entry:index' %}">Home</a>
			<a href="{% url 'entry:match_scout_landing' %}">Scout</a>
			<a href="{% url 'entry:glance_landing' %}">Glance</a>
			<a href="{% url 'entry:teams' %}">Teams</a>
			<a href="{% url 'entry:stats' %}">Data</a>
			<a href="{% url 'entry:visualize' %}">Visualize</a>
			<a href="{% url 'entry:settings' %}">Settings</a>
			<a href="{% url 'entry:about' %}">About</a>
		</div>
		<div class="greeting">
			<p id="timeOfDay"></p>
			<p style="padding-top: 0px">{{ user.get_username }}!</p> 
		</div>
		<script>
			var hour = new Date().getHours();
			var greeting; 
			if (hour < 17) {
				greeting = "Good day,";
			} else {
				greeting = "Good evening,";
			}
			document.getElementById("timeOfDay").innerHTML = greeting;
		</script>
	</div>
	<div class="bodyContainer bodyBackground" id="bodyContainer">
		<div class="heroContent" id="heroSpace">
			<p class="pageTitle">Build Hours</p>
		</div>
		<div class="logToolsContainer">
			<div class="logTool" id="filterTool">
				<div class="logFilter" >
					<img src="{{ MEDIA_URL }}{% static 'SearchIcon.png' %}" style="height: 50px;" alt="Search" height="50" width="50">
					<input class="logFilterInput" type="text" id="teamNumber" onkeyup="teamFilter('teamNumber')" placeholder="Student Name">
				</div>
			</div>
			<div class="logTool" id="totalTool">
				<h4>Total Hours:</h4>
				<h1>{{ get_total_user_hours }}</h1>
			</div>
			<div class="logTool" id="actionTool">
				<input type="submit" class="updateLogsButton" value="Update Logs">
			</div>
			<div class="logTool" id="entryTool">
				<a href="{% url 'hours:enter' %}" class="entryTool">Enter hours</a>
			</div>
		</div>
		<div class="logChipContainer">
            {% for log in log_list %}
			<div class="logChip" id="{{ user.username }}" name="{{ log.tasks }}">
				<div class="logChipInfo">
					<h3>{{ log.gremlin.user.username }}</h3>
				</div>
				<div class="logChipDescription">
					<small>{{ log.completedDate }}</small>
					<p>{{ log.tasks }}</p>
				</div>
				<div class="logChipHours">
					<h4>Hours:</h4>
					<h1>{{ log.minutes|modulo:60 }}</h1>
				</div>
				<div class="logChipAction">
					<select class="approvalSelect">
						<option value="0">Pending Approval</option>
						<option value="1">Approval Declined</option>
						<option value="2">Hours Approved</option>
					</select>
				</div>
			</div>
            {% endfor %}
		</div>
	</div>
	<div id="snackbar">
		<p id="snacktext">Default Text</p>
	</div>

</body>
</html>