{% load static %}
{% load common_tags %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>SWISS Test Page</title>
<script src="{% static 'entry/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'entry/script.js' %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% static 'entry/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/colorsheet.css' %}">
<script src="{% static 'entry/script.js' %}" type="text/javascript"></script>
<link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}{% static 'favicon/favicon-16x16.png' %}">
<meta name="theme-color" content="0F4D8D">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
		<div class="topbar">
		<div class="hamburgerButton" onClick="openNav()">
			<button class="hamburgerButton" onClick="openNav()">☰</button>
		</div>
		<div class="swissLogo" id="swissLogo">
			<a href="{% url 'entry:index' %}">
			<img src="{{ MEDIA_URL }}{% static 'NextSwiss.png' %}" alt="SWISS Logo">
			</a>
		</div>
	</div>
	<div id="sideNav" class="sidebar">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
		<a href="{% url 'entry:index' %}">Home</a>
		<a href="{% url 'entry:match_scout_landing' %}">Scout</a>
		<a href="{% url 'entry:glance_landing' %}">Glance</a>
		<a href="{% url 'entry:teams' %}">Teams</a>
		<a href="{% url 'entry:settings' %}">Settings</a>
		<a href="{% url 'entry:about' %}">About</a>
	</div>
    <div class="bodyContainer bodyBackground" id="bodyContainer">
        <button onclick="getCSV()">TEST</button>
        <br>
        <br>
        <div>{{ user }}</div>
    </div>

    <script>
        // A custom function to get cookies
    function getCookie(name) {
        // Split cookie string and get all individual name=value pairs in an array
        var cookieArr = document.cookie.split(";");
    
        // Loop through the array elements
        for(var i = 0; i < cookieArr.length; i++) {
            var cookiePair = cookieArr[i].split("=");
    
            /* Removing whitespace at the beginning of the cookie name
            and compare it with the given string */
            if(name == cookiePair[0].trim()) {
                // Decode the cookie value and return
                return decodeURIComponent(cookiePair[1]);
            }
        }
    
        // Return null if not found
        return null;
    }
        
     // A custom function to check cookies
    function checkCookie() {
        // Get cookie using our custom function
        var tutorial = getCookie("tutorialCompleted");
    
        if(firstName != false) {
            alert("Tutorials are false");
        } else {
            alert("Tutorials are true");
        }
    }
    
    </script>
</body>
</html>
