{% load static %}
{% load common_tags %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Team # at a Glance</title>
<link rel="stylesheet" type="text/css" href="{% static 'entry/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/colorsheet.css' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}{% static 'favicon/favicon-16x16.png' %}">
<script src="{% static 'entry/jquery.min.js' %}"></script>
<script src="{% static 'entry/charts.js' %}"></script>
<script src="{% static 'entry/glance.js' %}"></script>
<script src="{% static 'entry/script.js' %}"></script>
<script src="{% static 'entry/highcharts.js' %}"></script>
<script src="{% static 'entry/highcharts-more.js' %}"></script>
<script src="{% static 'entry/solid-gauge.js' %}"></script>
<meta name="theme-color" content="0F4D8D">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
	<div class="topbar">
		<div class="hamburgerButton" onClick="openNav()">
			<button class="hamburgerButton" onClick="openNav()">☰</button>
		</div>
		<div class="swissLogo" id="swissLogo">
			<a href="{% url 'entry:index' %}">
			<img src="{{ MEDIA_URL }}{% static 'SwissIcon2x.png' %}" alt="SWISS Logo">
			</a>
		</div>
	</div>
	<div id="sideNav" class="sidebar">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
		<a href="{% url 'entry:index' %}">Home</a>
		<a href="{% url 'entry:match_scout_landing' %}">Scout</a>
		<a href="{% url 'entry:glance_landing' %}">Glance</a>
		<a href="{% url 'entry:teams' %}">Teams</a>
		<a href="{% url 'entry:settings' %}">Settings</a>
		<a href="{% url 'entry:about' %}">About</a>
	</div>
	
	<div id="teamDrawer" class="teamDrawer" onClick="closeTeamDrawer()" style="justify-content: center">
		<br>
        <br>
        <a href="javascript:void(0)" class="closebtn" onclick="closeTeamDrawer()">×</a>
        <div class="pillSelect" >
			<div class="pillContainer" >
                {% get_all_present_teams as team_list %}
				{% for team in team_list %}
					<ul>
						<li>
							<div onclick="window.location='{% url 'entry:glance' team.id %}'"  class="teamnumberPill" style="background-color: {{team.colour}}; cursor: pointer;">
								<p>{{ team.number }}</p>
							</div>
						</li>
					</ul>
				{% endfor %}
			</div>
		</div>
	</div>

	
	<div class="bodyContainer bodyBackground" id="bodyContainer" style="background-image: url({{ MEDIA_URL }}{% static 'GlanceBackground2000w.png' %})">
		<div class="heroContent" id="heroSpace">
			<div class="stickyChip">
				<button class="changeTeam" id="changeTeam" onClick="openTeamDrawer()">
					<div class="teamnumberPill" style="background-color: {{ team.colour }}">
							<p>{{ team.number }}</p>
					</div>
					<div class="teamnamePill">
							<p>{{ team.name }}</p>
					</div>
				</button>
			</div>
		</div>

		<div class="infotileContainer" style="justify-content: flex-start">
			<div class="infoBox infoWide" id="teamInfoTile">
				<div class="infoHeader">
					<div class="teamnumberPill" style="background-color: {{team.colour}}"><p>{{ team.number }}</p></div>
					<h1>{{ team.name }}</h1>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Shooter Style</p></div>
					<div class="infoRColumn"><p> {% get_info team 'shooter_style' 'average' 'pits' %}</p></div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Shooting Locations</p></div>
					<div class="infoRColumn">
                        {% get_info team 'tele_positions' 'list' 'pits' as telePositionsList %}
						<p>{{ telePositionsList.0 }}</p>
						<p>{{ telePositionsList.1 }}</p>
					</div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Can Climb</p></div>
					<div class="infoRColumn"><p>{% get_info team 'climb_locations' 'possible' 'pits' %}</p></div>
				</div>	
				<div class="infoRow">
					<div class="infoLColumn"><p>Control Panel</p></div>
					<div class="infoRColumn"><p>{% get_info team 'wheel_manipulator' 'possible' 'pits' %}</p></div>
				</div>
			</div>
			<div class="pictureBox" id="pictureBoxTile">
					<img src="{{ MEDIA_URL }}{{ team.first_image }}" alt="robot photo">
			</div>			
			<div class="graphBoxWide" id="totalGraphTile">
				<div id="avg_balls" style="height: 300px; width:auto">
				<p></p>

				</div>		
			</div>
			<div class="graphBoxWide" id="lineGraphTile">
				<div id="line" style="height: 300px; width: auto">

				</div>
			</div>
			<div class="infoBox infoReg" id="foulsTile">
				<div class="infoHeader">
					<img class="infoIcon" src="{{ MEDIA_URL }}{% static 'FlagIcon.png' %}" alt="flag">
					<h1>Fouls &amp; Cards</h1>
				</div>
				<div class="infoRow">
					<div class="infoLColumn">
					<p>Offense Fouls</p>
					</div>
					<div class="infoLColumn">
					<p>{% get_info team 'fouls' 'average' 'match' %} / 2</p>
					</div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn">
					<p>Defense Fouls</p>
					</div>
					<div class="infoLColumn">
					<p>{% get_info team 'defense_fouls' 'average' 'match' %} / 2</p>
					</div>
				</div>				
				<div class="infoRow">
					<div class="infoLColumn">
					<p>Human Fouls</p>
					</div>
					<div class="infoLColumn">
					<p>{% get_info team 'hp_fouls' 'average' 'match' %} / 2</p>
					</div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn">
					<p>Yellow Cards</p>
					</div>
					<div class="infoLColumn">
					<p>{% get_info team 'yellow_card' 'average' 'match' %} / 1</p>
					</div>
				</div>
			</div>
			<div class="infoBox infoReg" id="defenseTile">
				<div class="infoHeader">
					<img class="infoIcon" src="{{ MEDIA_URL }}{% static 'DefenseIcon.png' %}" alt="Defense Icon">
					<h1>Defense</h1>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Played Defense</p></div>
					<div class="infoLColumn"><p>{% get_info team 'played_defense' 'average' 'match' %} / 1</p></div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Avg. Quality</p></div>
					<div class="infoLColumn"><p>{% get_info team 'defense_rating' 'match' 'dependant' 'dependant-played_defense' %} / 5</p></div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Push Ability</p></div>
					<div class="infoLColumn"><p>{% get_info team 'able_to_push' 'average' 'match' %}</p></div>
				</div>
			</div>
			<div class="infoBox infoReg" id="powerCellTile">
				<div class="infoHeader">
					<img class="infoIcon" src="{{ MEDIA_URL }}{% static 'GenericPowerPort.png' %}" alt="Power Port">
					<h1>Total Balls Scored</h1>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Low Goal</p></div>
                    {% get_info team 'lower' 'total' 'match' as totalTeleLower%}
                    {% get_info team 'lower_auto' 'total' 'match' as totalAutoLower%}
					<div class="infoLColumn"><p>{{totalTeleLower|add:totalAutoLower }} Power Cells</p></div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Outer Goal</p></div>
                    {% get_info team 'outer' 'total' 'match' as totalTeleOuter%}
                    {% get_info team 'outer_auto' 'total' 'match' as totalAutoOuter%}
					<div class="infoLColumn"><p>{{totalTeleOuter|add:totalAutoOuter }} Power Cells</p></div>
				</div>				
				<div class="infoRow">
					<div class="infoLColumn"><p>Inner Goal</p></div>
                    {% get_info team 'inner' 'total' 'match' as totalTeleInner%}
                    {% get_info team 'inner_auto' 'total' 'match' as totalAutoInner%}
					<div class="infoLColumn"><p>{{totalTeleInner|add:totalAutoInner }} Power Cells</p></div>
				</div>
			</div>			
			<div class="infoBox infoReg" id="endgameTile">
				<div class="infoHeader">
					<img class="infoIcon" src="{{ MEDIA_URL }}{% static 'hangbar_icon.png' %}" alt="Hang Bar">
					<h1>Endgame</h1>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Average Climb Success</p></div>
					<div class="infoLColumn">
                        {% get_info team 'field_timeout_pos' 'list' 'match' as teleTimeOutList %}
						<p>{{ teleTimeOutList.0 }}</p>
						<p>{{ teleTimeOutList.1 }}</p>
					</div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Climb Percentage</p></div>
					<div class="infoLColumn"><p>{% get_info team 'climbed' 'average' 'match' %}</p></div>
				</div>				
				<div class="infoRow">
					<div class="infoLColumn"><p>Average Climb Location</p></div>
					<div class="infoLColumn"><p>{% get_info team 'climb_location' 'match' 'dependant' 'dependant-climbed' %} / 20</p></div>
				</div>
			</div>
			<div class="infoBox infoReg" id="driveTrainTile">
				<div class="infoHeader">
					<img class="infoIcon" src="{{ MEDIA_URL }}{% static 'DrivetrainIcon.png' %}" alt="Drivetrain">
					<h1>Drivetrain Info</h1>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Drivetrain Type</p></div>
					<div class="infoLColumn"><p>{% get_info team 'drivetrain_style' 'average' 'pits' %}</p></div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Wheel Type</p></div>
					<div class="infoLColumn"><p>{% get_info team 'drivetrain_wheels' 'average' 'pits' %}</p></div>
				</div>				
				<div class="infoRow">
					<div class="infoLColumn"><p>Drivetrain Motors</p></div>
					<div class="infoLColumn"><p>{% get_info team 'drivetrain_motortype' 'average' 'pits' %}: {% get_info team 'drivetrain_motorquantity' 'average' 'pits' %}</p></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>