{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'entry/image-viewer.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

<div class="header" id="myHeader">
  <h1>Image Grid</h1>
  <p>Click on the buttons to change the grid view.</p>
  <button class="btn" onclick="one()">1</button>
  <button class="btn" onclick="two()">2</button>
  <button class="btn active" onclick="four()">4</button>
</div>


{% if team_list %}

    <div class="row">
        <div class="column">
            {% for team in team_list %}
                {% if forloop.counter0|divisibleby:2 %}
                    {% for image in  team.images.all %}
                        <img src="{{ MEDIA_URL }}{{ image.image }}" alt="test" style="width:100%" id="{{ team.name }}-{{ image.image }}">
                        <label for="{{ team.name }}-{{ image.image }}">{{ team.name }} - {{ team.number }}</label>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="column">
            {% for team in team_list %}
                {% if forloop.counter0|divisibleby:2 %}
                    {% for image in  team.images.all %}
                        <img src="{{ MEDIA_URL }}{{ image.image }}" alt="test" style="width:100%">
                                                <label for="{{ team.name }}-{{ image.image }}">{{ team.name }} - {{ team.number }}</label>

                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="column">
            {% for team in team_list %}
                {% if forloop.counter0|divisibleby:2 %}
                    {% for image in  team.images.all %}
                        <img src="{{ MEDIA_URL }}{{ image.image }}" alt="test" style="width:100%">
                                                <label for="{{ team.name }}-{{ image.image }}">{{ team.name }} - {{ team.number }}</label>

                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
            <div class="column">
            {% for team in team_list %}
                {% if forloop.counter0|divisibleby:2 %}
                    {% for image in  team.images.all %}
                        <img src="{{ MEDIA_URL }}{{ image.image }}" alt="test" style="width:100%">
                                                <label for="{{ team.name }}-{{ image.image }}">{{ team.name }} - {{ team.number }}</label>

                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>

    </div>

{% else %}
    <p>No teams are available.</p>
{% endif %}

<script type="text/javascript" src="{% static 'entry/image-viewer.js' %}"></script>
