
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'entry/landing.css' %}">

<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>


<form action="{% url 'entry:write_image_upload' %}" method="post" enctype="multipart/form-data" id="form">
    {% csrf_token %}
    <div>
        <label for="teamNumber">Enter a Team Number:</label>
        <input type="number" id="teamNumber" name="teamNumber">
        <label for="myfile">Select a file:</label>
        <input type="file" id="myfile" name="myfile" multiple="multiple">
    </div>
    <button type="submit">Upload</button>
</form>