{% load static %}
{% load common_tags %}

<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>SWISS Home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'entry/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'entry/colorsheet.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'entry/tile-order.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'entry/css/index.css' %}">
	<script src="{% static 'entry/script.js' %}"></script>
	<script src="{% static 'entry/index.js' %}"></script>
	<link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}{% static 'favicon/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}{% static 'favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}{% static 'favicon/favicon-16x16.png' %}">
	<link rel="manifest" type="manifest" href="{% static 'entry/site.webmanifest' %}">
	<meta name="theme-color" content="0F4D8D">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"><!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N73L5WQ');</script>
<!-- End Google Tag Manager -->
</head>
<body>
	<div class="topbar">
		<div class="hamburgerButton" onClick="openNav()">
			<button class="hamburgerButton" onClick="openNav()">☰</button>
		</div>
		<div class="swissLogo" id="swissLogo">
			<a href="{% url 'entry:index' %}">
				<img src="{{ MEDIA_URL }}{% static 'SwissIcon2x.png' %}" alt="SWISS Logo">
			</a>
		</div>
	</div>
	<div id="sideNav" class="sidebar">
		<div>
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
			<a href="{% url 'entry:index' %}">Home</a>
			<a href="{% url 'entry:match_scout_landing' %}">Scout</a>
			<a href="{% url 'entry:glance_landing' %}">Glance</a>
			<a href="{% url 'entry:teams' %}">Teams</a>
			<a href="{% url 'entry:match_data' %}">Data</a>
			<a href="{% url 'entry:visualize' %}">Visualize</a>
			<a href="{% url 'entry:schedule' %}">Schedule</a>
			<a href="{% url 'entry:settings' %}">Settings</a>
			<a href="{% url 'entry:about' %}">About</a>
		</div>
		<div class="greeting">
			<p id="timeOfDay"></p>
			<p style="padding-top: 0px">{{ user.get_username }}!</p>
		</div>
		<script>
			var hour = new Date().getHours();
			var greeting;
			if (hour < 17) {
				greeting = "Good day,";
			} else {
				greeting = "Good evening,";
			}
			document.getElementById("timeOfDay").innerHTML = greeting;
		</script>
	</div>

	<div class="bodyContainer">
    	<div id="myModal" class="modal">
            <div class="modal-content">
                <h1 id="modal-header" style="margin-left: 10px;">Modal Popup Header</h1>
                <p id="modal-desc">Lorem ipsum dolor sit amet.</p>
                <div style="display: flex; justify-content: center">
                    <button class="modalButton" id="downloadCancel">No</button>
                    <button class="modalButton" id="downloadConfirm">Yes</button>
                </div>
            </div>
        </div>
		<div class="tileContainer" id="tileContainer">
			<a href="{% url 'entry:match_scout_landing' %}" id="tileMatch" title="Match Scouting">
				<div class="bigBox">
					<h1>Scout</h1>
					<img src="{{ MEDIA_URL }}{% static 'ScoutIcon.png' %}" alt="scout icon">
				</div>
			</a>
			<a href="{% url 'entry:pit_scout_landing' %}" id="tilePit" title="Pit Scouting">
				<div class="bigBox">
					<h1>Pit</h1>
					<img src="{{ MEDIA_URL }}{% static 'PitScoutIcon.png' %}" alt="scout icon">
				</div>
			</a>
			<a href="{% url 'entry:glance_landing' %}" id="tileGlance" title="Glance View">
				<div class="wideBox CeltXColor" id="tileBackground"
					style="background-image: url({{ MEDIA_URL }}{% static 'GlanceBackground2000w.png' %})">
					<img src="{{ MEDIA_URL }}{% static 'StrategyIcon.png' %}" alt="Strategy icon">
				</div>
			</a>
			<a href="{% url 'entry:teams' %}" id="tileTeams" title="Team Lookup">
				<div class="wideBox OttawaColor">
					<img src="{{ MEDIA_URL }}{% static 'SearchIcon.png' %}" alt="Search Icon">
					<p class="homeText">Teams</p>
				</div>
			</a>
			<a href="{% url 'entry:match_data' %}" id="tileData" title="Data View">
				<div class="bigBox">
					<img src="{{ MEDIA_URL }}{% static 'DataIcon.png' %}" alt="Data Icon">
				</div>
			</a>
			<a href="{% url 'entry:visualize' %}" id="tileVisualize" title="Visualization">
				<div class="wideBox SimboticsColor">
					<img src="{{ MEDIA_URL }}{% static 'StatsIcon.png' %}" alt="Visualize Icon">
					<p class="homeText">Visualize</p>
				</div>
			</a>
			<a href="{% url 'entry:schedule' %}" id="tileSchedule" title="Schedule View">
				<div class="bigBox">
					<img src="{{ MEDIA_URL }}{% static 'ScheduleIcon.png' %}" alt="Schedule Icon">
				</div>
			</a>
			<a id="tileDownload" title="Download CSV">
				<div class="smallBox" style="background-color: #AAA300">
					<img src="{{ MEDIA_URL }}{% static 'DownloadIcon.png' %}" alt="Download Icon">
				</div>
			</a>
			<div class="specialBox" id="tileEvent" style="flex-direction: column">
				<p class="specialBoxHeader">Current Event Is:</p>
				<h3 style="margin: 0">{% get_current_event request %}</h3>
			</div>
			<a href="{% url 'entry:upload' %}" id="tileUpload" title="Upload an Image">
				<div class="smallBox">
					<img src="{{ MEDIA_URL }}{% static 'UploadIcon.png' %}" alt="Upload Icon">
				</div>
			</a>
			{% if user.is_staff %}
			<a href="{% url 'entry:admin_redirect' %}" id="tileAdmin" title="Administration Panel">
				<div class="smallBox">
					<img src="{{ MEDIA_URL }}{% static 'AdminIcon.png' %}" alt="Admin Icon">
				</div>
			</a>
			<a href="https://update.swiss-scouting.ca/" id="tileUpdate" title="Update Swiss">
				<div class="smallBox">
					<img src="{{ MEDIA_URL }}{% static 'UpdateIcon.png' %}" alt="Admin Icon">
				</div>
			</a>
			{% endif %}
			<a href="{% url 'entry:settings' %}" id="tileSettings" title="Settings">
				<div class="smallBox">
					<img src="{{ MEDIA_URL }}{% static 'SettingsIcon.png' %}" alt="Settings Icon">
				</div>
			</a>
			<a href="https://www.thebluealliance.com/" id="tileTBA" target="_blank" title="Go to The Blue Alliance">
				<div class="smallBox">
					<img src="{{ MEDIA_URL }}{% static 'TheBlueAlliance.png' %}" alt="TBA Icon">
				</div>
			</a>
			<div class="specialBox" id="tileActive">
				<p class="specialBoxHeader">Active Users:</p>
				<h2 style="margin: 0">{% get_all_logged_in_users %}</h2>
			</div>
			<a href="{% url 'entry:import' %}" id="tileImport" title="Import Panel">
				<div class="smallBox">
					<img src="{{ MEDIA_URL }}{% static 'FirstImportIcon.png' %}" alt="Import Icon">
				</div>
			</a>
			<a href="{% url 'entry:register' %}" id="tileRegister" title="Register New User">
				<div class="smallBox">
					<img src="{{ MEDIA_URL }}{% static 'NewUserIcon.png' %}" alt="Registration Icon">
				</div>
			</a>
			<a href="{% url 'hours:view' %}" id="tileHours" title="View Build Hours">
				<div class="smallBox">
					<img src="{{ MEDIA_URL }}{% static 'BuildHoursBinder.png' %}" alt="Build Hours Binder Icon">
				</div>
			</a>
		</div>
		<div id="snackbar">
			<p id="snacktext">Default Text</p>
		</div>
		<div id="alertbar">
			<p id="alerttext">Default Text</p>
            <button id="alertbutton" onClick="document.location='{% url 'entry:welcome' %}';">Let's Go!</button>
			<button class="alertclose" onClick='closeAlertBar(); document.cookie = "tutorialCompleted=True; path=/";'>╳</button>
		</div>
        <p style="display: none" id="tutorialCookie">{% get_cookie request 'tutorialCompleted' %}</p>
	</div>
</body>
</html>
