{% load static %}
{% load common_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'entry/landing.css' %}">

<link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}{% static 'entry/favicon.png' %}"/>


{% if team_list %}

    <h1 class="title">Teams - {% get_current_event_id %}</h1>

    <div class="container">
        <button class="left" onclick="location.href='{% url 'entry:visualize' %}'" id="myButton" >View Data</button>
        <div class="right">
            <div class="container">
                <button class="left" onclick="location.href='{% url 'entry:pit_upload' %}'" id="myButton" >Upload Pit Scouting</button>
                <button class="right" onclick="location.href='{% url 'entry:download' %}'" id="myButton" >Download Matches</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="left">
            <div class="container">
                <button class="left" onclick="location.href='{% url 'entry:schedule' %}'" id="myButton">View Schedule</button>
                <button class="right" onclick="location.href='{% url 'entry:schedule' %}'" id="myButton">View Schedule</button>
            </div>
        </div>
        <div class="right">
            <div class="container">
                <button class="right" onclick="location.href='{% url 'entry:image_viewer' %}'" id="myButton" >View Robot Images</button>
                <button class="left" onclick="location.href='{% url 'entry:image_upload' %}'" id="myButton" >Upload Robot Images</button>
            </div>
        </div>
    </div>

    <ol>
        {% for team in team_list %}
            <li><a href="{% url 'entry:auto' team.pk %}">{{ team.number }} - {{ team.name }}</a></li>
        {% endfor %}
    </ol>


{% else %}
    <p>No teams are available for current event.</p>
{% endif %}
