{% load static %}
{% load common_tags %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>SWISS Login</title>
<link rel="stylesheet" type="text/css" href="{% static 'entry/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/colorsheet.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/formstyle.css' %}">
<script src="{% static 'entry/script.js' %}"></script>
<link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}{% static 'favicon/favicon-16x16.png' %}">
<link rel="manifest" type="manifest" href="{% static 'entry/site.webmanifest' %}">
<meta name="theme-color" content="0F4D8D">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
	<div class="topbar">
		<div class="swissLogo" id="swissLogo">
			<a href="{% url 'entry:index' %}">
			<img src="{{ MEDIA_URL }}{% static 'SwissIcon2x.png' %}" alt="SWISS Logo">
			</a>
		</div>
	</div>
	
	<div class="bodyContainer">
		<div id="loginContainer">
			<div class="infoBox loginBox">
				<div class="infoHeader">
					<img class="infoIcon" src="{{ MEDIA_URL }}{% static 'UserIcon.png' %}" alt="Download Icon">
					<h1>Log In</h1>
				</div>
				<form action="{% url 'entry:login' %}" method="POST" enctype="multipart/form-data" id="form">
                    {% csrf_token %}
                    <div class="formItem" style="margin-top:10px; background:none; justify-content: flex-start">
						<label for="username">Username:</label>
						<input style="margin-left:10px; " type="text" name="username" id="username">
					</div>
					<div class="formItem" style="margin-top:10px; background:none; justify-content: flex-start">
						<label for="password">Password:</label>
						<input style="margin-left:10px; " type="password" name="password" id="password">
					</div>

                    <button class="updateButton loginButton" type="submit">Log In</button>

				
				</form>
			</div>
		</div>
	</div>
</body>
</html>