{% load static %}
{% load common_tags %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>SWISS Match Scouting {{ team.number }}</title>
<script src="{% static 'entry/js/jquery.min.js' %}"></script>
<script src="{% static 'entry/js/validate.js' %}"></script>
<script src="{% static 'entry/js/script.js' %}"></script>
<script src="{% static 'entry/js/scout.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'entry/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/css/colorsheet.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/css/formstyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/css/cone-cube.css' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}{% static 'favicon/favicon-16x16.png' %}">
<meta name="theme-color" content="0F4D8D">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"><!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N73L5WQ');</script>
<!-- End Google Tag Manager -->
</head>
<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N73L5WQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% get_topbar 'headers/00_ScoutHeader.png' %}
	{% get_sidebar %}
	
	<div class="bodyContainer" id="bodyContainer">
		<div class="heroContent" id="heroSpace">
			<div class="stickyChip">
				<div class="teamnumberPill" style="background-color: {{team.colour}}">
						<p>{{ team.number }}</p>
				</div>
				<div class="teamnamePill">
						<p>{{ team.name }}</p>
				</div>
			</div>
		</div>
	<div id="myModal" class="modal">
		<div class="modal-content">
			<h1 id="modal-header" style="margin-left: 10px;">Modal Popup Header</h1>
			<p id="modal-desc">Lorem ipsum dolor sit amet.</p>
			<div style="display: flex; justify-content: center">
				<button class="modalButton" id="onFieldConfirm">Yes</button>
				<button class="modalButton" id="onFieldCancel">No</button>
			</div>
		</div>
	</div>
	<div>
		<form action="{% url 'entry:match_scout' team.id %}" class="formContainer" method="post" name="mainForm" id="mainForm">
            {% csrf_token %}

            {{ form }}
        </form>
	</div>
	<div id="snackbar">
		<p id="snacktext">Default Text</p>
	</div>
	</div>
</body>
</html>
