{% load static %}
{% load common_tags %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>SWISS Data</title>
<link rel="stylesheet" type="text/css" href="{% static 'entry/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/css/colorsheet.css' %}">
<script src="{% static 'entry/js/script.js' %}"></script>
<link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}{% static 'favicon/favicon-16x16.png' %}">
<meta name="theme-color" content="0F4D8D">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"><!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N73L5WQ');</script>
<!-- End Google Tag Manager -->
</head>

<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N73L5WQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% get_topbar 'headers/00_MatchDataHeader.png' %}
	{% get_sidebar %}
	
	<div class="bodyContainer bodyBackground" id="bodyContainer">
        <div class="heroContent">
            <div class="heroBox mb-3">
                 <div class="filterBox" style="width: 90%;">
                    <img src="{{ MEDIA_URL }}{% static 'SearchIcon.png' %}" style="height: 50px;" alt="Search">
                    <input class="filterChip" type="text" id="teamNumber" onkeyup="tableFilter('teamNumber')" placeholder="Team Number" style="width: 100%;">
                 </div>
            </div>
            <br>
            <div class="heroBox mb-3">
                <div class="filterBox" style="width: 90%;">
                    <img src="{{ MEDIA_URL }}{% static 'SearchIcon.png' %}" style="height: 50px;" alt="Search">
                    <input class="filterChip" type="text" id="teamName" onkeyup="tableFilter('teamName')" placeholder="Team Name" style="width: 100%;">
                </div>
                <br>
            </div>
            <br>
            <div class="heroBox mb-3">
                <div class="filterBox" style="width: 90%;">
                    <img src="{{ MEDIA_URL }}{% static 'SearchIcon.png' %}" style="height: 50px;" alt="Search">
                    <input class="filterChip" type="text" id="matchNumber" onkeyup="tableFilter('matchNumber')" placeholder="Match Number" style="width: 100%;">
                </div>
            </div>
            <div class="formItem graphOption centerMobile">
                <button class="dataButton" onclick="window.location='{% url 'entry:pit_data' %}';">Go To Pit Data</button>
            </div>
        </div>

			<div class="tableContainer">
				<table id="dataTable">
					<tr>
						<th class="teamStick" style="z-index: 200">Number</th>
						<th>Names</th>
						<th class="matchStick" style="z-index: 200">Match #</th>
	    				<th>Robot Present?</th>
						<th>Auto Route</th>
						<th>Exit Tarmac</th>
						<th>Auto Low</th>
						<th>Auto High</th>
						<th>Auto Missed</th>
						<th>Auto Fouls</th>

						<th>Tele Low</th>
						<th>Tele High</th>
                        <th>Tele Missed</th>
						<th>Intake Type</th>
						<th>Under Defense</th>
						<th>Defended By</th>
						<th>Ofns Fouls</th>
						
						<th>Played Dfns</th>
						<th>Dfns Quality</th>
						<th>Dfns Fouls</th>
						<th>Push Ability</th>

                        <th>Endgame Level</th>
						<th>Climb Attempts</th>
						<th>Timeout Position</th>

						<th>Human Fouls</th>
						<th>Driver Fouls</th>
						<th>Yellow Card</th>

                        <th>Auto Comment</th>
                        <th>Climb Comment</th>
                        <th>Comment</th>

						<th>Scouter</th>
					</tr>
					{% for match in match_list %}
                        <tr>
                            <td class="teamStick" style="z-index: 100">{{ match.team.number }}</td>
                            <td  style="background: gray"> {{ match.team.name }}</td>
                            <td class="matchStick" style="z-index: 100">
                            {% if user.is_staff %}
                                <a href="{% get_edit_url 'match' match.id %}">
                            {% endif %}
                                {{ match.match_number }}
                            {% if user.is_staff %}
                                </a>
                            {% endif %}
                            </td>
                            <td>{{ match.on_field }}</td>
                            <td>{{ match.auto_route }}</td>
                            <td>{{ match.baseline }}</td>
                            <td>{{ match.lower_auto }}</td>
                            <td>{{ match.upper_auto }}</td>
							<td>{{ match.missed_balls_auto }}</td>
                            <td>{{ match.auto_fouls }}</td>

                            <td>{{ match.lower }}</td>
                            <td>{{ match.upper }}</td>
                            <td>{{ match.missed_balls }}</td>
                            <td>{{ match.intake_type }}</td>
                            <td>{{ match.under_defense }}</td>
							<td>{{ match.defended_by }}</td>
                            <td>{{ match.offensive_fouls }}</td>

                            <td>{{ match.defense_played }}</td>
                            <td>{{ match.defense_rating }}</td>
                            <td>{{ match.defense_fouls }}</td>
                            <td>{{ match.able_to_push }}</td>

                            <td>{{ match.endgame_action }}</td>
                            <td>{{ match.climb_attempts }}</td>
                            <td>{{ match.lock_status }}</td>

                            <td>{{ match.fouls_driver }}</td>
                            <td>{{ match.fouls_hp }}</td>
                            <td>{{ match.yellow_card }}</td>

                            <td>{{ match.auto_comment }}</td>
                            <td>{{ match.climb_comments }}</td>
                            <td>{{ match.comment }}</td>

                            <td style="background-color: grey">{{ match.scouter_name }}</td>
                    </tr>
                    {% endfor %}
				</table>
		</div>
	</div>
</body>
</html>
