{% load static %}
{% load common_tags %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>SWISS Match Scouting {{ team.number }}</title>
<script src="{% static 'entry/jquery.min.js' %}"></script>
<script src="{% static 'entry/validate.js' %}"></script>
<script src="{% static 'entry/script.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'entry/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/colorsheet.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/formstyle.css' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}{% static 'favicon/favicon-16x16.png' %}">
<meta name="theme-color" content="0F4D8D">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"><!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N73L5WQ');</script>
<!-- End Google Tag Manager -->
</head>
<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N73L5WQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<div class="topbar">
		<div class="hamburgerButton" onClick="openNav()">
			<button class="hamburgerButton" onClick="openNav()">☰</button>
		</div>
		<div class="swissLogo" id="swissLogo">
			<a href="{% url 'entry:index' %}">
			<img src="{{ MEDIA_URL }}{% static 'SwissIcon2x.png' %}" alt="SWISS Logo">
			</a>
		</div>
	</div>
	<div id="sideNav" class="sidebar">
		<div>
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
			<a href="{% url 'entry:index' %}">Home</a>
			<a href="{% url 'entry:match_scout_landing' %}">Scout</a>
			<a href="{% url 'entry:glance_landing' %}">Glance</a>
			<a href="{% url 'entry:teams' %}">Teams</a>
			<a href="{% url 'entry:match_data' %}">Data</a>
			<a href="{% url 'entry:visualize' %}">Visualize</a>
			<a href="{% url 'entry:settings' %}">Settings</a>
			<a href="{% url 'entry:about' %}">About</a>
		</div>
		<div class="greeting">
			<p id="timeOfDay"></p>
			<p style="padding-top: 0px">{{ user.get_username }}!</p> 
		</div>
		<script>
			var hour = new Date().getHours();
			var greeting; 
			if (hour < 17) {
				greeting = "Good day,";
			} else {
				greeting = "Good evening,";
			}
			document.getElementById("timeOfDay").innerHTML = greeting;
		</script>
	</div>
	
	<div class="bodyContainer" id="bodyContainer">
		<div class="heroContent" id="heroSpace">
			<div class="stickyChip">
				<div class="teamnumberPill" style="background-color: {{team.colour}}">
						<p>{{ team.number }}</p>
				</div>
				<div class="teamnamePill">
						<p>{{ team.name }}</p>
				</div>
			</div>
		</div>
	<div id="myModal" class="modal">
		<div class="modal-content">
			<h1 id="modal-header" style="margin-left: 10px;">Modal Popup Header</h1>
			<p id="modal-desc">Lorem ipsum dolor sit amet.</p>
			<div style="display: flex; justify-content: center">
				<button class="modalButton" id="onFieldConfirm">Yes</button>
				<button class="modalButton" id="onFieldCancel">No</button>
			</div>
		</div>
	</div>
	<div>
		<form action="{% url 'entry:write_match_scout' team.id %}" class="formContainer" method="post" name="mainForm" id="mainForm">
            {% csrf_token %}

<!--	PRE-MATCH	--> 
			
            <h1>PRE-MATCH</h1>
			<div class="formItem">
				<label for="matchNumber">Match Number</label>
				<input type="number" name="matchNumber" id="matchNumber" min="1" max="9999" required>
			</div>
			<div class="formItem">
				<label for="scouterName">Scouter's Name</label>
				<input type="text" name="scouterName" id="scouterName" value="{{ user.get_username }}" required placeholder="Scouter Name" autocomplete="off">
			</div>
			<div class="formItem">
				<label for="onField">Is Robot Present?</label>
				<div>-- Automation is broken</div>
				<div class="radioGroup">
					<label>
						<input type="radio" id="onField_true" name="onField" value="True" onClick="registerChange()" required>
						<span>Y</span>
					</label>
					<label>
						<input type="radio" id="onField_false" name="onField" value="False" onClick="registerChange()">
						<span>N</span>
					</label>
				</div>
			</div>
			<div class="formItem">
				<label>Starting Position</label>
				<div style="align-self: flex-end">
					<canvas width="200" height="100" style="background: url({{ MEDIA_URL }}{% static 'BlueTarmac.png' %})" alt="Blue Tarmac. If Broken call Nick."></canvas>
					<div style="text-align: right">
						<input type="number" id="coordinate_x" name="coordinate_x" placeholder="x" readonly>
						<input type="number" id="coordinate_y" name="coordinate_y" placeholder="y" readonly>
					</div>
				</div>
				<script type="text/javascript">
					let fieldx = document.getElementById("coordinate_x");
					let fieldy = document.getElementById("coordinate_y");

					function getMousePosition(canvas, event) {
						let rect = canvas.getBoundingClientRect();
						let x = event.clientX - rect.left;
						let y = event.clientY - rect.top;
						fieldx.value = (x / rect.width);
						fieldy.value = (y / rect.height);
					}
					let canvasElem = document.querySelector("canvas");
					canvasElem.addEventListener("mousedown", function(e)
					{
						getMousePosition(canvasElem, e);
					});
				</script>
			</div>
			<div class="formItem">
				<label for="">Ball Preloaded</label>
				<div class="radioGroup">
					<img class="goalIcon" src="{{ MEDIA_URL }}{% static 'SplitColourCargo.png' %}" alt="Split Colour Cargo">
					<label>
						<input type="radio" id="preloaded_ball_true" name="preloadedBalls" value="True" onclick="registerChange()" required>
						<span>Y</span>
					</label>
					<label>
						<input type="radio" id="preloaded_ball_false" name="preloadedBalls" value="False" onClick="registerChange()">
						<span>N</span>
					</label>
				</div>
			</div>

<!--	AUTONOMOUS		-->
			
			<h1 id="aAutonomous">AUTONOMOUS</h1>
			<div class="formItem" id="autoRouteDiv">
				<label for="autoRoute">Autonomous Route</label>
				<!-- onChange="hideAutonomous()" was removed from the <select> below -->
				<div>Automation temporarily broken</div>
				<select name="autoRoute" id="autoRoute" required>
					<option value="" disabled selected hidden>&#8230;</option>
					<option value="0">None</option>
					<option value="1">Yes, Simple</option>
					<option value="2">Yes, Complex</option>
				</select>
			</div>
			
			<div class="formItem" id="baselineDiv">
			<!-- Boolean for if a Robot moved off of the tarmac -->
				<label for="baseline">Left Tarmac Zone</label>
				<div class="radioGroup">
					<img class="goalIcon" src="{{ MEDIA_URL }}{% static 'AllTarmacs.png' %}" alt="All Tarmacs">
					<label>
						<input type="radio" id="baseline_true" name="baseline" value="True" onclick="registerChange()" required>
						<span>Y</span>
					</label>
					<label>
						<input type="radio" id="baseline_false" name="baseline" value="False" onClick="registerChange()">
						<span>N</span>
					</label>
				</div>
			</div>
			
			<div class="formItem" id="autoGoalsDiv">
			<!-- Hub Goals in Autonomous  -->
				<label for="autoLowGoal">Power Port Goals (AUTO)</label>
				<div class="ticker">
					<!-- Upper Hub Auto -->
					<img class="goalIcon" src="{{ MEDIA_URL }}{% static 'HubUpper.png' %}" alt="inner">
					<input type="button" onclick="decrementValue('upper_auto')" value="-">
					<input name="upper_auto" id="upper_auto" type="number" min="0" max="100" value="0" readonly>
					<input type="button" onclick="incrementValue('upper_auto')" value="+">
					<br>
					<!-- Lower Hub Auto -->
					<img class="goalIcon" src="{{ MEDIA_URL }}{% static 'HubLower.png' %}" alt="lower">
					<input type="button"  onclick="decrementValue('lower_auto')" value="-">
					<input type="number" name="lower_auto" id="lower_auto" min="0" max="100" value="0" readonly>
					<input type="button"  onclick="incrementValue('lower_auto')" value="+">
				</div>
			  </div>
			<div class="formItem" id="autoMissedDiv">
				<label for="missed_balls_auto">Missed Balls (AUTO)</label>
				<div class="ticker">
					<img class="goalIcon" src="{{ MEDIA_URL }}{% static 'MissedIcon.png' %}" alt="missed">
					<input type="button" onclick="decrementValue('missed_balls_auto')" value="-">
					<input name="missed_balls_auto" id="missed_balls_auto" type="number" min="0" max="100" value="0" readonly>
					<input type="button" onclick="incrementValue('missed_balls_auto')" value="+">
				</div>
			</div>
			<div class="formItem">
			<!-- Communicates frequency or severeness of fouls against team -->
			<!-- Not to be confused with Teleoperated Fouls Below -->
				<label for="auto_fouls">Incurred Offensive Fouls</label>
				<select name="auto_fouls" id="auto_fouls" required>
					<option value="" disabled selected hidden>&#8230;</option>
					<option value="0">None</option>
					<option value="1">Yes, Minor</option>
					<option value="2">Yes, Major</option>
				</select>
			</div>
			<div class="formItem" id="autoCommentDiv">
				<label for="auto_comment">Auto Route Notes</label>
				<input type="text" name="auto_comment" id="auto_comment" placeholder="Auto Notes" autocomplete="off" required>
			</div>
            <script>
				// Gets value of dropdown, hides div that becomes irrelevant
				function hideAutonomous() {
					var x = document.getElementById("autoRoute").value;
					if (x != 0){
                        document.getElementById("baseline_true").checked = true;
				        document.getElementById("baselineDiv").style.display="flex";
						document.getElementById("autoGoalsDiv").style.display="flex";
						document.getElementById("autoMissedDiv").style.display="flex";
					} else {
                         document.getElementById("baseline_false").checked = true;
				        document.getElementById("baselineDiv").style.display="none";
						document.getElementById("autoGoalsDiv").style.display="none";
						document.getElementById("autoMissedDiv").style.display="none";
					}
				}
            </script>
			
<!--	OFFENSE		-->
			
			<h1>TELEOP - OFFENSE</h1>
		<!-- Shooting specific inputs -->
			<div class="formItem">
			<!-- Hub Goals in Teleoperated  -->
				<label>Power Port Goals</label>
                <div class="ticker">
					<!-- Upper Hub Teleop -->
					<img class="goalIcon" src="{{ MEDIA_URL }}{% static 'HubUpper.png' %}" alt="upper">
					<input type="button" onclick="decrementValue('upper')" value="-">
					<input name="upper" id="upper" type="number" min="0" max="100" value="0" readonly>
					<input type="button" onclick="incrementValue('upper')" value="+">
					<br>
					<!-- Lower Hub Teleop -->
					<img class="goalIcon" src="{{ MEDIA_URL }}{% static 'HubLower.png' %}" alt="lower">
  					<input type="button" onclick="decrementValue('lower')" value="-">
					<input id="lower" name="lower" type="number" min="0" max="100" value="0" readonly>
					<input type="button" onclick="incrementValue('lower')" value="+">
			 	</div>
		 	 </div>

			<div class="formItem">
				<!-- Missed balls in Teleoperated Period -->
				<!-- Should only be clicked if a shot was attempted, not just any ejection -->
				<label>Missed balls</label>
                <div class="ticker">
					<img class="goalIcon" src="{{ MEDIA_URL }}{% static 'MissedIcon.png' %}" alt="missed">
  					<input type="button" onclick="decrementValue('missed_balls')" value="-">
					<input id="missed_balls" name="missed_balls" type="number" min="0" max="100" value="0" readonly>
					<input type="button" onclick="incrementValue('missed_balls')" value="+">
			 	</div>
		 	 </div>
			
		<!-- Strategy related inputs -->

			<div class="formItem">
				<!-- Type of intake for Strategy purposes -->
				<label for="intakeType">Intake Type</label>
				<select name="intakeType" id="intakeType" required>
					<option value="" disabled selected hidden>&#8230;</option>
					<option value="0">Did not Intake</option>
					<option value="1">Ground</option>
					<option value="2">Human</option>
					<option value="3">Both</option>
				</select>
			</div>			
			<div class="formItem">
			<!-- Can the robot drive well and achieve tasks while under defense? -->
				<label for="under_defense">Play well under defense</label>
				<select name="under_defense" id="under_defense" required onChange="hideDefendedBy()"> 
					<option value="" disabled selected hidden>&#8230;</option>
					<option value="0">Not Defended</option>
					<option value="1">Played Poorly</option>
					<option value="2">Played Well</option>
				</select>
			</div>
			<script> 
				// Gets value of dropdown, hides div that becomes irrelevant
				function hideDefendedBy() {
					var x = document.getElementById("under_defense").value;
					if (x != 0){
						document.getElementById("defendedByDiv").style.display="flex";
					} else {
						document.getElementById("defendedByDiv").style.display="none";
					}
				}
			</script>
			<div class="formItem" id="defendedByDiv">
			<!-- Text string for team number defending the currently scouted one -->
			<!-- Backend only accepts strings that only contain numbers -->
				<label for="defended_by">Defended by</label>
				<input type="number" name="defended_by" id="defended_by" placeholder="Team #" min="1" max="9999">
			</div>
						
		<!-- Offensive Fouls -->
			
			<div class="formItem">
			<!-- Communicates frequency or severeness of fouls against team -->
			<!-- Not to be confused with Defensive fouls below -->
				<label for="offensive_fouls">Incurred Offensive Fouls</label>
				<select name="offensive_fouls" id="offensive_fouls" required>
					<option value="" disabled selected hidden>&#8230;</option>
					<option value="0">None</option>
					<option value="1">Yes, Minor</option>
					<option value="2">Yes, Major</option>
				</select>
			</div>
			
<!--	DEFENSE		-->
			
			<h1>TELEOP - DEFENSE</h1>
			<div class="formItem">
				<label for="playedDefense">Played Defense?</label>
				<div class="radioGroup">
					<label>
						<input type="radio" id="playedDefense_true" name="playedDefense" value="True" onClick="registerChange(),hideDefenseStuff()" required>
						<span>Y</span>
					</label>
					<label>
						<input type="radio" id="playedDefense_false" name="playedDefense" value="False" onClick="registerChange(),hideDefenseStuff()">
						<span>N</span>
					</label>
				</div>
			</div>
			<script>
				/*
				function hideDefenseStuff() {
					var x = document.getElementById("playedDefense_false").checked;
					if (x != true){
						document.getElementById("teamDefendedDiv").style.display="flex";
						document.getElementById("defenseQualityDiv").style.display="flex";
					} else {
						document.getElementById("teamDefendedDiv").style.display="none";
						document.getElementById("defenseRating").value="0";
						document.getElementById("defenseQualityDiv").style.display="none";
					}
				}
				*/
			</script>
			<div class="formItem" id="defense_timer">
				<label for="defense_time">Defense Timer - Coming Soon</label>
				<div>
					<input type="number" name="defense_time" id="defense_time" pattern="[-+]?[0-9]*[.,]?[0-9]+" readonly>
					<input type="button" value="&#9658;" onclick="startstoptimer()">
					<input type="button" value="&#x21bb;" onclick="resettimer()">
				</div>
			<script>
				var millisec = 0;
				var seconds = 0;
				var timer;

				function display(){

				  if (millisec>=9){
					 millisec=0
					 seconds+=1
				  }
				  else
					 millisec+=1
					 document.getElementById('defense_time').value = seconds + "." + millisec;
					 timer = setTimeout("display()",100);
				  }

				function starttimer() {

				  if (timer > 0) {
					return;
				  }
				  display();	
				}
				function stoptimer() {
				  clearTimeout(timer);
				  timer = 0;
				}

				function startstoptimer() {
				  if (timer > 0) {
					 clearTimeout(timer);
					 timer = 0;
				  } else {
					 display();
				  }
				}

				function resettimer() {
					stoptimer();
					millisec = 0;
					seconds = 0;
				}
				</script>	
			</div>
			<div class="formItem" id="teamDefendedDiv">
				<label for="team_defended">Team Defended</label>
				<input type="number" name="team_defended" id="team_defended" placeholder="Team #" min="1" max="9999" autocomplete="off">
			</div>
			<div class="formItem" id="defenseQualityDiv">
				<label for="defense_rating">Quality of Defense</label>
				<select name="defense_rating" id="defense_rating" required>
					<option value="" disabled selected hidden>&#8230;</option>
					<option value="0">Not Applicable</option>
					<option value="1">Attempted, Poor</option>
					<option value="2">Minor Annoyance</option>
					<option value="3">Good</option>
					<option value="4">Excellent</option>
					<option value="5">God-like</option>
				</select>
			</div>
			<div class="formItem">
				<label for="defense_fouls">Incurred Defensive Fouls</label>
				<select name="defense_fouls" id="defense_fouls" required>
					<option value="" disabled selected hidden>&#8230;</option>
					<option value="0">None</option>
					<option value="1">Yes, Minor</option>
					<option value="2">Yes, Major</option>
				</select>
			</div>
			<div class="formItem">
				<label for="pushRating">Ability to Push</label>
				<select name="pushRating" id="pushRating" required>
					<option value="" disabled selected hidden>&#8230;</option>
					<option value="0">N/A</option>
					<option value="1">Poorly</option>
					<option value="2">Well</option>
				</select>
			</div>
			
<!--	ENDGAME		-->
			
			<h1>ENDGAME</h1>
			<div class="formItem">
				<label for="lock_status">Field Timeout Position (t=+5s)</label>
				<select name="lock_status" id="lock_status" required>
					<option value="" disabled selected hidden>&#8230;</option>
					<option value="0">None</option>
					<option value="1">Unsuccessful</option>
					<option value="2">Invalidated</option>
					<option value="3">Successful Climb</option>
				</select>
			</div>			
			<div class="formItem">
				<label for="endgame_action">Climbing Position</label>
				<select name="endgame_action" id="endgame_action">
					<option value="" disabled selected hidden>&#8230;</option>
					<option value="0">No Attempt</option>
					<option value="1">Low Rung</option>
					<option value="2">Mid Rung</option>
					<option value="3">High Rung</option>
					<option value="4">Traversal Rung</option>
				</select>
		  	</div>
			<div class="formItem">
				<label for="climb_time">Climbing Time</label>
				<div>
					<input type="number" name="climb_time" id="climb_time" pattern="[-+]?[0-9]*[.,]?[0-9]+" readonly>
					<input type="button" value="&#9658;" onclick="startstoptimer()">
					<input type="button" value="&#x21bb;" onclick="resettimer()">
				</div>
				<script>
					var millisec = 0;
					var seconds = 0;
					var timer;

					function display(){

					  if (millisec>=9){
						 millisec=0
						 seconds+=1
					  }
					  else
						 millisec+=1
						 document.getElementById('climb_time').value = seconds + "." + millisec;
						 timer = setTimeout("display()",100);
					  }

					function starttimer() {

					  if (timer > 0) {
						return;
					  }
					  display();	
					}
					function stoptimer() {
					  clearTimeout(timer);
					  timer = 0;
					}

					function startstoptimer() {
					  if (timer > 0) {
						 clearTimeout(timer);
						 timer = 0;
					  } else {
						 display();
					  }
					}

					function resettimer() {
						stoptimer();
						millisec = 0;
						seconds = 0;
					}
					</script>	
			</div>
			<div class="formItem">
				<label for="climb_attempts">Climb Attempts</label>
				<input type="number" name="climb_attempts" id="climb_attempts" autocomplete="off">
			</div>
			<div class="formItem">
				<label for="climb_comments">Climb Performance Comment</label>
				<input type="text" name="climb_comments" id="climb_comments" autocomplete="off">
			</div>
			
<!-- HUMAN FOULS AND COMMENTS	-->
			
			<h1>MORE</h1>
			<div class="formItem">
				<label for="humanFouls">Human Player Incurred Fouls</label>
				<select name="humanFouls" id="humanFouls">
					<option value="0">No</option>
					<option value="1">Yes</option>
					<option value="2">Yes, repeatedly</option>
				</select>
			</div>
			<div class="formItem">
				<label for="driverFouls">Driver/Coach Incurred Fouls</label>
				<select name="driverFouls" id="driverFouls">
					<option value="0">No</option>
					<option value="1">Yes</option>
					<option value="2">Yes, repeatedly</option>
				</select>
			</div>
			<div class="formItem right">
				<label for="cardFouls">Yellow Card Given</label>
			    <input type="text" name="cardFouls" id="cardFouls" placeholder="Cite Rule if Possible" autocomplete="off">
			</div>
			<br>
			<div class="formItem">
				<label for="offline">Disabled or Offline</label>
				<div class="radioGroup">
					<label>
						<input type="radio" id="disabled_true" name="offline" value="True" onClick="registerChange()" required>
						<span>Y</span>
					</label>
					<label>
						<input type="radio" id="disabled_false" name="offline" value="False" onClick="registerChange()" selected>
						<span>N</span>
					</label>
				</div>
			</div>
			<br>
			<div class="formItem">
				<label for="comment">Comments</label>
				<input type="text" name="comment" id="comment" placeholder="e.g. Drivetrain Issues" autocomplete="off" required>
			</div>
			<br>
			<div class="formItem" id="submit" onclick="validate('mainForm', true)">
                <input name="submit" id="submitButton" type="submit" style="pointer-events: none">
			</div>
		</form>
	</div>
	<div id="snackbar">
		<p id="snacktext">Default Text</p>
	</div>
	</div>
	
<script> 
var modal = document.getElementById("myModal");
var opn = document.getElementById("onField_false");
var bad = document.getElementById("onFieldCancel");
var good = document.getElementById("onFieldConfirm");
var main = document.getElementById("mainForm");
var modhead = document.getElementById("modal-header")
var moddesc = document.getElementById("modal-desc")

// When the user clicks on the button, open the modal
opn.onclick = function() {
	modal.style.visibility = "visible";
	main.style.filter="blur(2px)";
	window.navigator.vibrate(40);
    modhead.innerHTML="Are you sure the Robot is not Present?";
    moddesc.innerHTML="Clicking yes will set all form values to ZERO and scroll you to the bottom of the page."
}

// When the user clicks on "no", close the modal
bad.onclick = function() {
	modal.style.visibility = "hidden";
	document.getElementById("onField_false").checked = false;
	document.getElementById("onField_true").checked = true;
	main.style.filter="blur(0)";
	window.navigator.vibrate(40);
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
	modal.style.visibility = "hidden";
	document.getElementById("onField_false").checked = false;
	document.getElementById("onField_true").checked = true;
	main.style.filter="blur(0)";
	window.navigator.vibrate(40);
  }
}

good.onclick = function() {
	modal.style.visibility = "hidden";
	window.navigator.vibrate([30,20,30,20,30]);
	main.style.filter="blur(0)";
	document.getElementById("preloadedBalls").value = "0";
	document.getElementById("autoRoute").value = "0";
	document.getElementById("baseline_false").checked = true;
	document.getElementById("autoComment").value = "NOT PRESENT";
	document.getElementById("intakeType").value = "0";
	document.getElementById("noCycles").checked = true;
	document.getElementById("underDefense").value = "0";
	document.getElementById("wheelScore").value = "0";
	document.getElementById("wheelRating").value = "0";	
	document.getElementById("offensiveFouls").value = "0";
	document.getElementById("playedDefense_false").checked = true;
	document.getElementById("defenseFouls").value = "0";	
	document.getElementById("pushRating").value = "0";
	document.getElementById("lockStatus").value = "0";
	document.getElementById("comment").value = "NOT PRESENT";
    setTimeout(() => { document.getElementById("submit").scrollIntoView({behavior: 'smooth'	}); }, 500);
}
</script>
</body>
</html>
