{% load static %}
{% load common_tags %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Match Landing</title>
<link rel="stylesheet" type="text/css" href="{% static 'entry/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/colorsheet.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/formstyle.css' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}{% static 'favicon/favicon-16x16.png' %}">
<meta name="theme-color" content="0F4D8D">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
	<div class="topbar">
		<div class="hamburgerButton" onClick="openNav()">
			<button class="hamburgerButton" onClick="openNav()">☰</button>
		</div>
		<div class="swissLogo" id="swissLogo">
			<a href="{% url 'entry:index' %}">
			<img src="{{ MEDIA_URL }}{% static 'Swiss Icon@2x.png' %}" alt="SWISS Logo">
			</a>
		</div>
	</div>
	<div id="sideNav" class="sidebar">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
		<a href="{% url 'entry:index' %}">Home</a>
		<a href="{% url 'entry:match_scout_landing' %}">Scout</a>
		<a href="{% url 'entry:experimental' %}">Labs</a>
		<a href="{% url 'entry:settings' %}">Settings</a>
		<a href="{% url 'entry:about' %}">About</a>
	</div>
	
	<div class="bodyContainer bodyBackground matchImage" id="bodyContainer">
		<div class="heroContent">
			<h1 class="homeText">Match Scouting</h1>
		</div>
		<div style="display: flex; justify-content: center">
			<div style="min-width:25%">
				<div class="formItem">
					<label for="teamNumber">Team Number</label>
					<input style="width:75px;" type="number" name="teamNumber" id="teamNumber" min="1" max="9999">
				</div>
				<div class="formItem">
					<label for="matchNumber">Match Number</label>
					<input type="number" name="matchNumber" id="matchNumber" min="1" max="60">
				</div>
				<div class="formItem">
					<p>Current Event is:</p>
					<br>
					<p>{% get_current_event %}</p>
				</div>
				<div class="formItem" id="submit">
					<input type="submit" value="Begin Scouting">
				</div>				
				<div class="formItem">
					<label>Press this to continue [dev]</label>
					<a href="matchscout.html">
						<input type="button" value=">">
					</a>
				</div>
			</div>
		</div>
	</div>
	
	
	
<script>
	function openNav() {
		document.getElementById("sideNav").style.width="250px";
		document.getElementById("bodyContainer").style.marginLeft="275px";
		document.getElementById("swissLogo").style.marginLeft="215px";
	}

	function closeNav() {
	  document.getElementById("sideNav").style.width = "0";
	  document.getElementById("bodyContainer").style.marginLeft= "25px";
	  document.getElementById("swissLogo").style.marginLeft= "0";
	}
</script>
</body>
</html>