{% load static %}
{% load common_tags %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>SWISS Data</title>
<link rel="stylesheet" type="text/css" href="{% static 'entry/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/css/colorsheet.css' %}">
<script src="{% static 'entry/js/script.js' %}"></script>
<link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}{% static 'favicon/favicon-16x16.png' %}">
<meta name="theme-color" content="0F4D8D">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"><!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N73L5WQ');</script>
<!-- End Google Tag Manager -->
</head>

<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N73L5WQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% get_topbar 'headers/00_PitDataHeader.png' %}
	{% get_sidebar %}
	
	<div class="bodyContainer bodyBackground" id="bodyContainer">
        <div class="heroContent">
            <div class="heroBox mb-3">
            	<div class="filterBox" style="width: 90%;">
					<img src="{{ MEDIA_URL }}{% static 'SearchIcon.png' %}" style="height: 50px;" alt="Search">
					<input class="filterChip" type="text" id="teamNumber" onkeyup="tableFilter('teamNumber')" placeholder="Team Number" style="width: 100%;">
				</div>
            </div>
            <br>
            <div class="heroBox mb-3">
				<div class="filterBox" style="width: 90%;">
					<img src="{{ MEDIA_URL }}{% static 'SearchIcon.png' %}" style="height: 50px;" alt="Search">
					<input class="filterChip" type="text" id="teamName" onkeyup="tableFilter('teamName')" placeholder="Team Name" style="width: 100%;">
				</div>
            </div>
            <div class="formItem graphOption centerMobile">
                <button class="dataButton" onclick="window.location='{% url 'entry:match_data' %}';">Go To Match Data</button>
            </div>
        </div>

			<div class="tableContainer">
				<table id="dataTable">
					<tr>
						<th class="teamStick" style="z-index: 200">Number</th>
						<th>Names</th>
                        <th>Drive Train Style</th>
                        <th>Drive Train Wheels</th>
                        <th>Drive Motor Type</th>
                        <th>Drive Motor #</th>
                        <th>Auto Route</th>
                        <th>Auto Description</th>
                        <th>Auto Scoring</th>
                        <th>Tele Scoring</th>
                        <th>Tele Positions</th>
                        <th>Ball Intake</th>
                        <th>Ball Capacity</th>
                        <th>Shooter Style</th>
                        <th>Low Bot?</th>
                        <th>Wheel Manipulator</th>
                        <th>Weight (lbs)</th>
                        <th>Climb Locations</th>
                        <th>Buddy Climb?</th>
                        <th>Balanced Climb?</th>
                        <th>Scouter Name</th>
					</tr>
					{% for pits in pits_list %}
                    <tr>
                        <td class="teamStick" style="z-index: 100">{{ pits.team.number }}</td>
                        <td>{{ pits.team.name }}</td>
                        <td>{{ pits.drivetrain_style }}</td>
                        <td>{{ pits.drivetrain_wheels }}</td>
                        <td>{{ pits.drivetrain_motortype }}</td>
                        <td>{{ pits.drivetrain_motorquantity }}</td>
                        <td>{{ pits.auto_route }}</td>
                        <td>{{ pits.auto_description }}</td>
                        <td>{{ pits.auto_scoring }}</td>
                        <td>{{ pits.tele_scoring }}</td>
                        <td>{{ pits.tele_positions }}</td>
                        <td>{{ pits.ball_intake }}</td>
                        <td>{{ pits.ball_capacity }}</td>
                        <td>{{ pits.shooter_style }}</td>
                        <td>{{ pits.low_bot }}</td>
                        <td>{{ pits.wheel_manipulator }}</td>
                        <td>{{ pits.weight }}</td>
                        <td>{{ pits.climb_locations }}</td>
                        <td>{{ pits.climb_buddy }}</td>
                        <td>{{ pits.climb_balance }}</td>
                        <td style="background-color: grey">{{ pits.scouter_name }}</td>
                    </tr>
                    {% endfor %}
				</table>
		</div>
	</div>
</body>
</html>