{% load static %}
{% load common_tags %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>SWISS Scouting</title>
<link rel="stylesheet" type="text/css" href="{% static 'entry/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/colorsheet.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/formstyle.css' %}">
<script src="{% static 'entry/script.js' %}"></script>
<link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}{% static 'favicon/favicon-16x16.png' %}">
<link rel="manifest" type="manifest" href="{% static 'entry/site.webmanifest' %}">
<meta name="theme-color" content="0F4D8D">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
	<div class="topbar">
		<div class="swissLogo" id="swissLogo">
			<a href="{% url 'entry:index' %}">
			<img src="{{ MEDIA_URL }}{% static 'SwissIcon2x.png' %}" alt="SWISS Logo">
			</a>
		</div>
	</div>
	
	<div class="bodyContainer">
		<div id="loginContainer">
			<div class="infoBox loginBox" style="">
				<div class="infoHeader">
					<img class="infoIcon" src="{{ MEDIA_URL }}{% static 'NewUserIcon.png' %}" alt="Download Icon">
					<h1>Register New User</h1>
				</div>
				<form action="{% url 'entry:register_user' %}" method="POST" enctype="multipart/form-data" id="form">
                    {% csrf_token %}
                    <div class="formItem" style="margin-top:10px; background:none; justify-content: flex-start">
						<label for="username">Username:</label>
						<input style="margin-left:10px; " type="text" name="username" id="username">
					</div>
					<div class="formItem" style="margin-top:10px; background:none; justify-content: flex-start">
						<label for="password">Password:</label>
						<input style="margin-left:10px; " type="password" name="password" id="password">
					</div>
                    <div class="formItem" style="margin-top:10px; background:none; justify-content: flex-start">
						<label for="password_validate">Re-Enter Password:</label>
						<input style="margin-left:10px; " type="password" name="password_validate" id="password_validate">
					</div>
                    <div class="formItem" style="margin-top:10px; background:none; justify-content: flex-start">
						<label for="first_name">First Name:</label>
						<input style="margin-left:10px; " type="text" name="first_name" id="first_name">
					</div>
                    <div class="formItem" style="margin-top:10px; background:none; justify-content: flex-start">
						<label for="last_name">Last Name:</label>
						<input style="margin-left:10px; " type="text" name="last_name" id="last_name">
					</div>
                    <div class="formItem" style="margin-top:10px; background:none; justify-content: flex-start">
						<label for="email">Email:</label>
						<input style="margin-left:10px; " type="email" name="email" id="email">
					</div>
                    <div class="formItem" style="margin-top:10px; background:none; justify-content: flex-start">
						<label for="team_number">Team Number</label>
						<input style="margin-left:10px; " type="number" name="team_number" id="team_number">
					</div>
                    <div class="formItem" style="background-color: #0F4D8D">
			        	<label for="teamPosition">Team Position</label>
			        	<select name="teamPosition" id="teamPosition" required>
			        		<option value="0">Only View</option>
			        		<option value="1">Match Scout</option>
			        		<option value="2">General Scout</option>
			        		<option value="3">Pit Scout</option>
                            <option value="4">Drive Team</option>
                            <option value="5">Lead Scout</option>
			        	</select>
			        </div>
                    <div class="formItem" id="submit" onclick="validate('mainForm', true)">
                        <button class="updateButton loginButton" type="submit">Register New User</button>
			        </div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>