{% load static %}
{% load common_tags %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>SWISS Schedule</title>
<link rel="stylesheet" type="text/css" href="{% static 'entry/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/css/colorsheet.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/css/formstyle.css' %}">
<link rel="stylesheet" href="{% static 'entry/css/flickity.min.css' %}" media="screen">
<script src="{% static 'entry/js/script.js' %}"></script>
<script src="{% static 'entry/js/flickity.pkgd.min.js' %}"></script>
<link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}{% static 'favicon/favicon-16x16.png' %}">
<meta name="theme-color" content="0F4D8D">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"><!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N73L5WQ');</script>
<!-- End Google Tag Manager -->
</head>

<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N73L5WQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% get_topbar 'headers/00_ScheduleHeader.png' %}
	{% get_sidebar %}
	
	<div class="bodyContainer bodyBackground" id="bodyContainer">
		<div class="heroContent">
			<div class="heroBox" id="currentEvent">
				<p>Current Event is:</p>
				<br>
				<p>{% get_current_event request %}</p>
			</div>
			<div class="heroBox">
				<div class="filterBox" >
					<img src="{{ MEDIA_URL }}{% static 'SearchIcon.png' %}" style="height: 50px;" alt="Search">
					<input class="filterChip" type="text" id="matchNumber" onkeyup="scheduleFilter('matchNumber')" placeholder="Match #">
				</div>
			</div>
			<div class="heroBox">
				<div class="filterBox" >
					<img src="{{ MEDIA_URL }}{% static 'SearchIcon.png' %}" style="height: 50px;" alt="Search">
					<input class="filterChip" type="text" id="teamName" onkeyup="scheduleFilter('teamName')" placeholder="Team #">
				</div>
			</div>
            <div class="heroBox">
                {%  if 'all' in request.path_info %}
                    <a href="{% url 'entry:schedule' %}">Upcoming Matches</a>
                {% else %}
                    <a href="{% url 'entry:schedule_all' %}">All Matches</a>
                {% endif %}
            </div>
		</div>		
        <div class="scheduleContainer" id="scheduleContainer" style="flex-wrap: wrap; white-space: nowrap; justify-content: center">
            {% for match in schedule_list.0 %}
                {% if not schedule_list.2 and match.match_number in schedule_list.1 %}
                {% else %}
                    {% if match.match_type == "Qualification"%}
                    <a href="{% url 'entry:schedule_details' match.pk %}" class="scheduleLink" id="match_q_{{ match.match_number }}" name="{{ match.blue1 }} {{ match.blue2 }} {{ match.blue3 }} {{ match.red1 }} {{ match.red2 }} {{ match.red3 }}">
                        <div class="scheduleTile">
                            <div class="matchNumber">
                                {% if match.match_number in schedule_list.1 %}
                                    <h3>Q{{ match.match_number }}</h3>
                                    <span style="font-size: x-large; margin-top: 10px">✅</span>
                                {% else %}
                                    <h3>Q{{ match.match_number }}</h3>
                                    <span onClick class="matchCompletedButton">
                                        <img src="{{ MEDIA_URL }}{% static 'ScoutIcon.png' %}">
                                    </span>
                                {% endif %}
                            </div>
                            <div>
                                <div class="infoRow" style="background-color: #092e55">
                                    <p class="scheduleTeamNumber">{{ match.blue1 }}</p>
                                    <p class="scheduleTeamNumber">{{ match.blue2 }}</p>
                                    <p class="scheduleTeamNumber">{{ match.blue3 }}</p>
                                </div>
                                <div class="infoRow" style="background-color: darkred">
                                    <p class="scheduleTeamNumber">{{ match.red1 }}</p>
                                    <p class="scheduleTeamNumber">{{ match.red2 }}</p>
                                    <p class="scheduleTeamNumber">{{ match.red3 }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for match in schedule_list %}
                {% if match.match_number > 0 %}
                    {% if match.match_type == "Playoff" %}
					<a href="{% url 'entry:schedule_details' match.pk %}" class="scheduleLink" id="match_p_{{ match.match_number }}" name="{{ match.blue1 }} {{ match.blue2 }} {{ match.blue3 }} {{ match.red1 }} {{ match.red2 }} {{ match.red3 }}">
                        <div class="scheduleTile">
                            <div>
                                <h3>P{{ match.match_number }}</h3>
                            </div>
                            <div>
                                <div class="infoRow" style="background-color: #092e55">
                                    <p class="scheduleTeamNumber">{{ match.blue1 }}</p>
                                    <p class="scheduleTeamNumber">{{ match.blue2 }}</p>
                                    <p class="scheduleTeamNumber">{{ match.blue3 }}</p>
                                </div>
                                <div class="infoRow" style="background-color: darkred">
                                    <p class="scheduleTeamNumber">{{ match.red1 }}</p>
                                    <p class="scheduleTeamNumber">{{ match.red2 }}</p>
                                    <p class="scheduleTeamNumber">{{ match.red3 }}</p>
                                </div>
                            </div>
                        </div>
					</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
		{% is_lead_scout request as lead_scout %}
        {% if lead_scout %}
		{% get_cookie request 'filters' as filters %}
        {% if 'False' != filters %}
        <div class="bottomBar" id="bottomBar">
			<div id="bottomBarContent">
				<div class="filterBox" onClick="location.href ='{% url 'entry:admin_redirect' 'schedule' %}';" style="cursor: pointer">
					<img src="{{ MEDIA_URL }}{% static 'EditIcon.png' %}" style="height: 50px;" alt="Edit">
					<h3>Edit Teams</h3>
				</div>
				<div class="filterBox" onclick="window.location='{#% url 'entry:import_schedule_from_first' %#}';" style="cursor: pointer;">
					<img src="{{ MEDIA_URL }}{% static 'UpdateIcon.png' %}" style="height: 50px;" alt="Update">
					<h3>Update Schedule</h3>
				</div>			
			</div>
			<button class="bottomBarButton" id="bottomBarButton" onclick="expandBottomBar()" style="background-image: url({{ MEDIA_URL }}{% static 'MoreIcon.png' %})"></button>
		</div>
        {% endif %} 
		{% endif %}
	</div>
</body>
</html>