{% load static %}
{% load common_tags %}


<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>SWISS Details {{ schedule.match_type }} {{ schedule.match_number }}</title>
<link rel="stylesheet" type="text/css" href="{% static 'entry/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/colorsheet.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'entry/scheduledetails.css' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}{% static 'favicon/favicon-16x16.png' %}">
<script src="{% static 'entry/jquery.min.js' %}"></script>
<script src="{% static 'entry/charts.js' %}"></script>
<script src="{% static 'entry/glance.js' %}"></script>
<script src="{% static 'entry/script.js' %}"></script>
<script src="{% static 'entry/highcharts.js' %}"></script>
<script src="{% static 'entry/highcharts-more.js' %}"></script>
<meta name="theme-color" content="0F4D8D">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"><!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N73L5WQ');</script>
<!-- End Google Tag Manager -->
</head>

<body>
	<div class="topbar">
		<div class="hamburgerButton" onClick="openNav()">
			<button class="hamburgerButton" onClick="openNav()">☰</button>
		</div>
		<div class="swissLogo" id="swissLogo">
			<a href="{% url 'entry:index' %}">
			<img src="{{ MEDIA_URL }}{% static 'SwissIcon2x.png' %}" alt="SWISS Logo">
			</a>
		</div>
	</div>
	<div id="sideNav" class="sidebar">
		<div>
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
			<a href="{% url 'entry:index' %}">Home</a>
			<a href="{% url 'entry:match_scout_landing' %}">Scout</a>
			<a href="{% url 'entry:glance_landing' %}">Glance</a>
			<a href="{% url 'entry:teams' %}">Teams</a>
			<a href="{% url 'entry:match_data' %}">Data</a>
			<a href="{% url 'entry:visualize' %}">Visualize</a>
			<a href="{% url 'entry:settings' %}">Settings</a>
			<a href="{% url 'entry:about' %}">About</a>
		</div>
		<div class="greeting">
			<p id="timeOfDay"></p>
			<p style="padding-top: 0px">{{ user.get_username }}!</p> 
		</div>
		<script>
			var hour = new Date().getHours();
			var greeting; 
			if (hour < 17) {
				greeting = "Good day,";
			} else {
				greeting = "Good evening,";
			}
			document.getElementById("timeOfDay").innerHTML = greeting;
		</script>
	</div>
	<div class="bodyContainer bodyBackground" id="bodyContainer">
		<div class="heroContent" id="heroSpace">
			<div class="stickyChip">
				<a class="changeTeam" id="changeTeam" href="{% url 'entry:schedule' %}">
					<div class="teamnamePill">
						<p style="padding-right: 10px">{{ schedule.match_type }}</p>
					</div>
					<div class="teamnumberPill" style="background-color: ">
						<p>{{ schedule.match_number }}</p>
					</div>
				</a>
			</div>
		</div>
		<div class="tripleContainer" style="justify-content: flex-start; flex-grow: 0">
            <div class="infoBox infoReg">
            	<div class="infoHeader">
					<!--<h1>B1</h1>-->
					<div class="teamnumberPill" style="background-color: {% get_team_colour schedule.blue1 %}"><p>{{ schedule.blue1 }}</p></div>
					<h1 id="officialTeamName">{% get_team_name schedule.blue1 %}</h1>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Gouda</p></div>
					<div class="infoRColumn"><p></p></div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Shooter</p></div>
					<div class="infoRColumn"><p>{% get_info user schedule.blue1 'shooter_style' 'average' 'pits' %}</p></div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Climb</p></div>
                    {% get_info user schedule.blue1 'endgame_action' 'list' 'match' as teleTimeOutListBlueOne %}
					<div class="infoRColumn"><p>{{ teleTimeOutListBlueOne.0 }}, {{ teleTimeOutListBlueOne.1 }}</p></div>				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Defense</p></div>
					<div class="infoRColumn"><p>5 / 5 Quality</p><p>{% get_info user schedule.blue1 'able_to_push' 'average' 'match' %}</p></div>
				</div>
				<div class="infoRow" style="flex-wrap: wrap">
					<div class="infoFColumn"><p>Ball Scoring</p></div>
					<div class="info33Column"><p>Low</p></div>
					<div class="info33Column"><p>High</p></div>
					<div class="info33Column"><p>Miss</p></div>
					<div class="info33Column"><p>{% get_info user schedule.blue1 'lower' 'average' 'match' %}</p></div>
					<div class="info33Column"><p>{% get_info user schedule.blue1 'upper' 'average' 'match' %}</p></div>
					<div class="info33Column"><p>{% get_info user schedule.blue1 'missed_balls_auto' 'average' 'match' %}</p></div>
				</div>
			</div>
			<div class="infoBox infoReg" id="teamInfoTile">
				<div class="infoHeader">
					<!--<h1>B2</h1>-->
					<div class="teamnumberPill" style="background-color: {% get_team_colour schedule.blue2 %}"><p>{{ schedule.blue2 }}</p></div>
					<h1 id="officialTeamName">{% get_team_name schedule.blue2 %}</h1>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Gouda</p></div>
					<div class="infoRColumn"><p></p></div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Shooter</p></div>
					<div class="infoRColumn"><p>{% get_info user schedule.blue2 'shooter_style' 'average' 'pits' %}</p></div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Climb</p></div>
                    {% get_info user schedule.blue2 'endgame_action' 'list' 'match' as teleTimeOutListBlueTwo %}
					<div class="infoRColumn"><p>{{ teleTimeOutListBlueTwo.0 }}, {{ teleTimeOutListBlueTwo.1 }}</p></div>				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Defense</p></div>
					<div class="infoRColumn"><p>5 / 5 Quality</p><p>{% get_info user schedule.blue2 'able_to_push' 'average' 'match' %}</p></div>
				</div>
				<div class="infoRow" style="flex-wrap: wrap">
					<div class="infoFColumn"><p>Ball Scoring</p></div>
					<div class="info33Column"><p>Low</p></div>
					<div class="info33Column"><p>High</p></div>
					<div class="info33Column"><p>Miss</p></div>
					<div class="info33Column"><p>{% get_info user schedule.blue2 'lower' 'average' 'match' %}</p></div>
					<div class="info33Column"><p>{% get_info user schedule.blue2 'upper' 'average' 'match' %}</p></div>
					<div class="info33Column"><p>{% get_info user schedule.blue2 'missed_balls_auto' 'average' 'match' %}</p></div>
				</div>
			</div>
			<div class="infoBox infoReg">
				<div class="infoHeader">
					<!--<h1>B3</h1>-->
					<div class="teamnumberPill" style="background-color: {% get_team_colour schedule.blue3 %}"><p>{{ schedule.blue3 }}</p></div>
					<h1 id="officialTeamName">{% get_team_name schedule.blue3 %}</h1>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Gouda</p></div>
					<div class="infoRColumn"><p></p></div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Shooter</p></div>
					<div class="infoRColumn"><p>{% get_info user schedule.blue3 'shooter_style' 'average' 'pits' %}</p></div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Climb</p></div>
                    {% get_info user schedule.blue3 'endgame_action' 'list' 'match' as teleTimeOutListBlueThree %}
					<div class="infoRColumn"><p>{{ teleTimeOutListBlueThree.0 }}, {{ teleTimeOutListBlueThree.1 }}</p></div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Defense</p></div>
					<div class="infoRColumn"><p>5 / 5 Quality</p><p>{% get_info user schedule.blue3 'able_to_push' 'average' 'match' %}</p></div>
				</div>
				<div class="infoRow" style="flex-wrap: wrap">
					<div class="infoFColumn"><p>Ball Scoring</p></div>
					<div class="info33Column"><p>Low</p></div>
					<div class="info33Column"><p>High</p></div>
					<div class="info33Column"><p>Miss</p></div>
					<div class="info33Column"><p>{% get_info user schedule.blue3 'lower' 'average' 'match' %}</p></div>
					<div class="info33Column"><p>{% get_info user schedule.blue3 'upper' 'average' 'match' %}</p></div>
					<div class="info33Column"><p>{% get_info user schedule.blue3 'missed_balls_auto' 'average' 'match' %}</p></div>
				</div>
			</div>

		</div>
		<div class="tripleContainer" style="justify-content: flex-start; flex-grow: 0">
			<div class="infoBox infoReg redAllianceBox">
				<div class="infoHeader">
					<!--<h1>B3</h1>-->
					<div class="teamnumberPill" style="background-color: {% get_team_colour schedule.red1 %}"><p>{{ schedule.red1 }}</p></div>
					<h1 id="officialTeamName">{% get_team_name schedule.red1 %}</h1>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Gouda</p></div>
					<div class="infoRColumn"><p></p></div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Shooter</p></div>
					<div class="infoRColumn"><p>{% get_info user schedule.red1 'shooter_style' 'average' 'pits' %}</p></div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Climb</p></div>
                    {% get_info user schedule.red1 'endgame_action' 'list' 'match' as teleTimeOutListRedOne %}
					<div class="infoRColumn"><p>{{ teleTimeOutListRedOne.0 }}, {{ teleTimeOutListRedOne.1 }}</p></div>				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Defense</p></div>
					<div class="infoRColumn"><p>5 / 5 Quality</p><p>{% get_info user schedule.red1 'able_to_push' 'average' 'match' %}</p></div>
				</div>
				<div class="infoRow" style="flex-wrap: wrap">
					<div class="infoFColumn"><p>Ball Scoring</p></div>
					<div class="info33Column"><p>Low</p></div>
					<div class="info33Column"><p>High</p></div>
					<div class="info33Column"><p>Miss</p></div>
					<div class="info33Column"><p>{% get_info user schedule.red1 'lower' 'average' 'match' %}</p></div>
					<div class="info33Column"><p>{% get_info user schedule.red1 'upper' 'average' 'match' %}</p></div>
					<div class="info33Column"><p>{% get_info user schedule.red1 'missed_balls_auto' 'average' 'match' %}</p></div>
				</div>
			</div>
			<div class="infoBox infoReg redAllianceBox">
				<div class="infoHeader">
					<!--<h1>B3</h1>-->
					<div class="teamnumberPill" style="background-color: {% get_team_colour schedule.red2 %}"><p>{{ schedule.red2 }}</p></div>
					<h1 id="officialTeamName">{% get_team_name schedule.red2 %}</h1>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Gouda</p></div>
					<div class="infoRColumn"><p></p></div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Shooter</p></div>
					<div class="infoRColumn"><p>{% get_info user schedule.red2 'shooter_style' 'average' 'pits' %}</p></div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Climb</p></div>
                    {% get_info user schedule.red2 'endgame_action' 'list' 'match' as teleTimeOutListRedTwo %}
					<div class="infoRColumn"><p>{{ teleTimeOutListRedTwo.0 }}, {{ teleTimeOutListRedTwo.1 }}</p></div>				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Defense</p></div>
					<div class="infoRColumn"><p>5 / 5 Quality</p><p>{% get_info user schedule.red2 'able_to_push' 'average' 'match' %}</p></div>
				</div>
				<div class="infoRow" style="flex-wrap: wrap">
					<div class="infoFColumn"><p>Ball Scoring</p></div>
					<div class="info33Column"><p>Low</p></div>
					<div class="info33Column"><p>High</p></div>
					<div class="info33Column"><p>Miss</p></div>
					<div class="info33Column"><p>{% get_info user schedule.red2 'lower' 'average' 'match' %}</p></div>
					<div class="info33Column"><p>{% get_info user schedule.red2 'upper' 'average' 'match' %}</p></div>
					<div class="info33Column"><p>{% get_info user schedule.red2 'missed_balls_auto' 'average' 'match' %}</p></div>
				</div>
			</div>
			<div class="infoBox infoReg redAllianceBox">
				<div class="infoHeader">
					<!--<h1>B3</h1>-->
					<div class="teamnumberPill" style="background-color: {% get_team_colour schedule.red3 %}"><p>{{ schedule.red3 }}</p></div>
					<h1 id="officialTeamName">{% get_team_name schedule.red3 %}</h1>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Gouda</p></div>
					<div class="infoRColumn"><p></p></div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Shooter</p></div>
					<div class="infoRColumn"><p>{% get_info user schedule.red3 'shooter_style' 'average' 'pits' %}</p></div>
				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Climb</p></div>
                    {% get_info user schedule.red3 'endgame_action' 'list' 'match' as teleTimeOutListRedThree %}
					<div class="infoRColumn"><p>{{ teleTimeOutListRedThree.0 }}, {{ teleTimeOutListRedThree.1 }}</p></div>				</div>
				<div class="infoRow">
					<div class="infoLColumn"><p>Defense</p></div>
					<div class="infoRColumn"><p>5 / 5 Quality</p><p>{% get_info user schedule.red3 'able_to_push' 'average' 'match' %}</p></div>
				</div>
				<div class="infoRow" style="flex-wrap: wrap">
					<div class="infoFColumn"><p>Ball Scoring</p></div>
					<div class="info33Column"><p>Low</p></div>
					<div class="info33Column"><p>High</p></div>
					<div class="info33Column"><p>Miss</p></div>
					<div class="info33Column"><p>{% get_info user schedule.red3 'lower' 'average' 'match' %}</p></div>
					<div class="info33Column"><p>{% get_info user schedule.red3 'upper' 'average' 'match' %}</p></div>
					<div class="info33Column"><p>{% get_info user schedule.red3 'missed_balls_auto' 'average' 'match' %}</p></div>
				</div>

			</div>
		</div>
	</div>
	<script>
		var modal = document.getElementById("myModal");
		var opn = document.getElementById("pictureBoxTile");
		var cls = document.getElementById("modal-close");
		var main = document.getElementById("infoTiles");

		// When the user clicks on the button, open the modal
		opn.onclick = function() {
			modal.style.visibility = "visible";
			main.style.filter = "blur(2px)";
			window.navigator.vibrate(40);
		}

		// When the user clicks on "no", close the modal
		cls.onclick = function() {
			modal.style.visibility = "hidden";
			main.style.filter="blur(0)";
			window.navigator.vibrate(40);
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		  if (event.target == modal) {
			modal.style.visibility = "hidden";
			main.style.filter = "blur(0)";
			window.navigator.vibrate(40);
		  }
		}
	</script>
</body>
</html>