{% load static %}
{% load common_tags %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>SWISS Settings</title>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="colorsheet.css">
<link rel="stylesheet" type="text/css" href="formstyle.css">
<meta name="theme-color" content="0F4D8D">
</head>

<body>
	<div class="topbar">
		<div class="hamburgerButton" onClick="openNav()">
			<button class="hamburgerButton" onClick="openNav()">☰</button>
		</div>
		<div class="swissLogo" id="swissLogo">
			<a href="index.html">
			<img src="img/Swiss Icon@2x.png" alt="SWISS Logo">
			</a>
		</div>
	</div>
	<div id="sideNav" class="sidebar">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
		<a href="index.html">Home</a>
		<a href="matchscout.html">Scout</a>
		<a href="experimental.html">Labs</a>
		<a href="settings.html">Settings</a>
		<a href="about.html">About</a>
	</div>
	
	<div class="bodyContainer" id="bodyContainer">
	
	<h1 class="pageHeader">SETTINGS</h1>
		
		    <h1>Current Event Is: {% get_current_event %}</h1>
    <form action="{% url 'setup:change-event-write' %}" method="post" id="form">
    {% csrf_token %}
        <label for="event"> Change Event To: </label>
        <select id="event" name="event" form="form" required="required">
            {% for event in events %}
                <option value={{ event.FIRST_key }}>{{ event }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit Change</button>
    </form>
		
		
	</div>
<script>
	function openNav() {
		document.getElementById("sideNav").style.width="250px";
		document.getElementById("bodyContainer").style.marginLeft="275px";
		document.getElementById("swissLogo").style.marginLeft="215px";
	}

	function closeNav() {
	  document.getElementById("sideNav").style.width = "0";
	  document.getElementById("bodyContainer").style.marginLeft= "25px";
	  document.getElementById("swissLogo").style.marginLeft= "0";
	}
</script>
</body>
</html>
