{% load staticfiles %}

<link rel="stylesheet" href="{% static "entry/entry.css" %}">
<script type="text/javascript" src="{% static 'entry/entry.js' %}"></script>
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>


<h1 class="title">{{ team.name }} - {{ team.number }}</h1>



<form id="form" action="{% url 'entry:write_teleop' team.id %}" method="post">
    {% csrf_token %}

    <div id="test" class="container">

        <div class="right">

            <button id="defense_time-toggle"  type="button"  onClick="toggleTimer('defense_time')" class="timer">Start Defense Timer</button>
            <input id="defense_time" class="number-form" type="hidden" name="defense_time" min="0" max="135000" default="0">

            <img src="{% static "Rocket.png" %}" alt="Red Rocket" class="right img">

        </div>

        <div class="left">

            <div class="button_group">
                <button type="button" id="rocket_cargo_button" class="toggle button" onclick='toggleInputDisplay("rocket", "cargo_div", "block")' style="background-color: orange; opacity: 1;">Cargo</button>
                <button type="button" id="rocket_hatch_button" class="toggle button" onclick='toggleInputDisplay("rocket", "hatch_div", "block")' style="background-color: yellow">Hatch</button>
            </div>
            <hr>


            <div id="rocket_cargo_div">
                <div class="button_group" >
                    <button id="first_cargo-add" type="button" onClick="add('first_cargo', 4)">Add</button>
                    <div id="first_cargo-label" class="display_current_value">0</div>
                    <input id="first_cargo" class="number-form" type="hidden" name="first_cargo" min="0" max="8" default="0">
                    <button id="first_cargo-sub" type="button" onClick="subtract('first_cargo', 0)">Subtract</button>
                </div>
                <div class="button_group">
                    <button id="second_cargo-add" type="button" onClick="add('second_cargo', 4)">Add</button>
                    <div id="second_cargo-label" class="display_current_value">0</div>
                    <input id="second_cargo" class="number-form" type="hidden" name="second_cargo" min="0" max="8" default="0">
                    <button id="second_cargo-sub" type="button" onClick="subtract('second_cargo', 0)">Subtract</button>
                </div>
                <div class="button_group">
                    <button id="third_cargo-add" type="button" onClick="add('third_cargo', 4)">Add</button>
                    <div id="third_cargo-label" class="display_current_value">0</div>
                    <input id="third_cargo" class="number-form" type="hidden" name="third_cargo" min="0" max="8" default="0">
                    <button id="third_cargo-sub" type="button" onClick="subtract('third_cargo', 0)">Subtract</button>
                </div>
            </div>


            <div id="rocket_hatch_div" style="display: none">
                <div class="button_group">
                    <button id="first_hatch-add" type="button" onClick="add('first_hatch', 4)">Add</button>
                    <div id="first_hatch-label" class="display_current_value">0</div>
                    <input id="first_hatch" class="number-form" type="hidden" name="first_hatch" min="0" max="8" default="0">
                    <button id="first_hatch-sub" type="button" onClick="subtract('first_hatch', 0)">Subtract</button>
                </div>
                <div class="button_group">
                    <button id="second_hatch-add" type="button" onClick="add('second_hatch', 4)">Add</button>
                    <div id="second_hatch-label" class="display_current_value">0</div>
                    <input id="second_hatch" class="number-form" type="hidden" name="second_hatch" min="0" max="8" default="0">
                    <button id="second_hatch-sub" type="button" onClick="subtract('second_hatch', 0)">Subtract</button>
                </div>
                <div class="button_group">
                    <button id="third_hatch-add" type="button" onClick="add('third_hatch', 4)">Add</button>
                    <div id="third_hatch-label" class="display_current_value">0</div>
                    <input id="third_hatch" class="number-form" type="hidden" name="third_hatch" min="0" max="8" default="0">
                    <button id="third_hatch-sub" type="button" onClick="subtract('third_hatch', 0)">Subtract</button>
                </div>
            </div>
            <br><br>



            <div class="button_group">
                <button type="button" id="ship_cargo_button" class="toggle button" onclick='toggleInputDisplay("ship", "cargo_div", "block")' style="background-color: orange; opacity: 1;">Cargo</button>
                <button type="button" id="ship_hatch_button" class="toggle button" onclick='toggleInputDisplay("ship", "hatch_div", "block")' style="background-color: yellow">Hatch</button>
            </div>
            <hr>


            <div id="ship_cargo_div">
                <div class="button_group" >
                    <button id="ship_cargo-add" type="button" onClick="add('ship_cargo', 8)">Add</button>
                    <div id="ship_cargo-label" class="display_current_value">0</div>
                    <input id="ship_cargo" class="number-form" type="hidden" name="ship_cargo" min="0" max="8" default="0">
                    <button id="ship_cargo-sub" type="button" onClick="subtract('ship_cargo', 0)">Subtract</button>
                </div>
            </div>


            <div id="ship_hatch_div" style="display: none">
                <div class="button_group" >
                    <button id="ship_hatch-add" type="button" onClick='add("ship_hatch", 8)'>Add</button>
                    <div id="ship_hatch-label" class="display_current_value">0</div>
                    <input id="ship_hatch" class="number-form" type="hidden" name="ship_hatch" min="0" max="8" default=6>
                    <button id="ship_hatch-sub" type="button" onClick="subtract('ship_hatch', 0)">Subtract</button>
                </div>
            </div>
            <br>

            <img src="{% static "CargoShip.png" %}" alt="Red CargoShip" class="img">

            <br>

            <div id="climb_div">
                <div class="button_group">
                    <input id="climb_level" name="climb_level" class="level" type="text" min="0" max="3" value="0" style="display:none ">
                    <button type="button" id="level_one" class="level" onclick='selectLevel(id, "level", 1, "climb_level")'>First Level</button>
                    <button type="button" id="level_two" class="level" onclick='selectLevel(id, "level", 2, "climb_level")'>Second Level</button>
                    <button type="button" id="level_three" class="level" onclick='selectLevel(id, "level", 3, "climb_level")'>Third Level</button>
                </div>
            </div>

        </div>

    </div>

    <br>
    <button type="submit" value="submit" onClick="checkInputValues()">Submit</button>
    <br>
    <br>

    <textarea name="comments" id="comments"> </textarea>


</form>
