
{% load static %}

<script src="{% static 'entry/jquery.min.js' %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% static 'entry/visualization.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'entry/images/favicon.png' %}"/>
<script type="text/javascript" src="{% static 'entry/visualization.js' %}"></script>


<div id="layout" class="container">
    <div class="left">
        <div class="box">

        </div>
    </div>

    <div class="right">
        <div class="box">
            <button onclick="updateImage()"></button>
        </div>
    </div>
</div>


<img src="{% static "entry/images/my_plot.png" %}" id="test">
<button onclick=updateImage("test","{% static 'entry/images/my_plot.png' %}")>Test</button>

