{% load i18n static common_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'entry/css/cone-cube-glance.css' %}">

<div class="glance-container">
    <div class="grid-item display-cube-cone-group" id="{{ name }}-000"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-001"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-002"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-010"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-011"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-012"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-020"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-030"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-021"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-031"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-022"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-032"></div>

    <div class="grid-item display-cube-cone-group" id="{{ name }}-100"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-101"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-102"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-110"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-111"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-112"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-120"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-130"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-121"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-131"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-122"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-132"></div>

    <div class="grid-item display-cube-cone-group" id="{{ name }}-200"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-201"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-202"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-210"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-211"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-212"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-220"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-230"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-221"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-231"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-222"></div>
    <div class="grid-item display-cube-cone-group" id="{{ name }}-232"></div>
</div>


