{% load i18n static common_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'entry/css/cone-cube-glance.css' %}">

<div class="glance-container">
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-000"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-001"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-002"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-010"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-011"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-012"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-020"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-030"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-021"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-031"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-022"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-032"></div>

    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-100"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-101"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-102"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-110"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-111"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-112"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-120"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-130"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-121"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-131"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-122"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-132"></div>

    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-200"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-201"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-202"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-210"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-211"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-212"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-220"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-230"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-221"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-231"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-222"></div>
    <div class="grid-item display-cube-cone-group" id="{{ widget.name }}-232"></div>
</div>


