{% load i18n static common_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'entry/css/cone-cube.css' %}">

<div class="radioGroup cube_cone_field">
    <div class="grid-container">
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-000">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-001">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-002">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-010">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-011">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-012">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" id="{{ widget.name }}-020" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" id="{{ widget.name }}-030" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" id="{{ widget.name }}-021" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" id="{{ widget.name }}-031" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" id="{{ widget.name }}-022" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" id="{{ widget.name }}-032" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-100">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-101">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-102">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-110">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-111">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-112">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" id="{{ widget.name }}-120" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" id="{{ widget.name }}-130" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" id="{{ widget.name }}-121" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" id="{{ widget.name }}-131" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" id="{{ widget.name }}-122" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" id="{{ widget.name }}-132" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-200">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-201">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-202">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-210">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-211">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-212">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" id="{{ widget.name }}-220" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" id="{{ widget.name }}-230" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" id="{{ widget.name }}-221" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" id="{{ widget.name }}-231" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" id="{{ widget.name }}-222" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" id="{{ widget.name }}-232" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
    </div>

</div>


