{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'entry/landing.css' %}">

{% if schedule %}

    <h1 class="title">Schedule</h1>


    <table>
        <tr>
            <th>Match</th>
            <th>Red 1</th>
            <th>Red 2</th>
            <th>Red 3</th>
            <th>Blue 1</th>
            <th>Blue 2</th>
            <th>Blue 3</th>
            <th>TBA Key</th>
        </tr>
        {% for match in object_list %}
            <tr>
                <td>{{ match.match_number }}</td>
                <td class="red"  >{{ match.red1 }}</td>
                <td class="red"  >{{ match.red2 }}</td>
                <td class="red"  >{{ match.red3 }}</td>
                <td class="blue" >{{ match.blue1 }}</td>
                <td class="blue" >{{ match.blue2 }}</td>
                <td class="blue" >{{ match.blue3 }}</td>
                <td>{{ match.TBA_key }}</td>
            </tr>
        {% endfor %}

    </table>






{% else %}
    <p>No matches are available.</p>
{% endif %}
