

.title {
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align: center;
    font-family: "Arial";
    font-style: normal;
    /* font-size: calc([minimum _size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) /
                ([maximum viewport width] - [minimum viewport width])));  */
    font-size: calc(36px + (100 - 36) * ((85vw - 300px) / (1600 - 300)));
}

.container {
    display: grid;
    grid-column-gap: 0.5%;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas:
    'header header header'
    'match center center'
    'left left right'
    'left left right'
    'footer footer footer';
}


.img{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    background: lightyellow;
}


.button_group{
    width: 100%;
    display: flex;
}

.left,
.right,
.center,
.left_center{
  padding: 10px;
}

.subhead {
    display: block;
    grid-area: subhead;
}

.center{
    display: block;
    grid-area: center;
}

.match{
    display: flex;
    justify-content: center;
    grid-area: match;
    align-items: center;
}

.left{
    display: block;
    grid-area: left;
}
.right{
    display: block;
    grid-area: right;
}

.input_heading{
    font-family: 'Lato', sans-serif;
    font-size: 1vw;
    font-weight: 300;
    text-align: left;
	border: 0;
	padding: 0.5vw 1vh;
	width: 100%;
    display: flex;
}

.display_current_value{
    font-family: 'Lato', sans-serif;
	font-size: 1em;
    font-weight: 300;
    text-align: center;
	border: 0;
	padding: 1em 2em;
    margin: 0.5em 0;
	width: 100%;
    background: rgba(0,0,0,0.1);
}

.toggle {
    opacity: 0.5;

}


button {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
    font-weight: 300;
	border: 0;
	padding: 1em 2em;
    margin: 0.5em 0;
	width: 100%;
    background: rgba(0,0,0,0.1);
    -webkit-transition:.2s;
}
button:hover{
    background: rgba(0,0,0,0.3);
}
button:active{
    background: rgba(0,0,0,0.55);
}

.counter{
    font-family: "Lato", sans-serif;
    font-style: normal;
	font-size: 30px;
	text-align: center;
    width: 100%;
    display: flex;
    background: rgba(0,0,0,0.1);
    padding: 2em 0;
    margin: 0.25em 0;

}

form{
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}
.timer {
    display: block;
    background-color: lightgreen;
    width: 80%;
    height: 10%;
    min-height: 100px;
    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
}

@media (max-width: 1100px) {

    .img {
        display: none;
    }

    .container {
        max-width: 800px;
        grid-template-areas:
            'header header header'
            'match match match'
            'center center center'
            'left left left'
            'middle middle  middle'
            'right right right';
    }

    .timer {
        width: 100%;
    }
}

.level {

}

.match_number {
    font-size: 1em;
    display: flex;
    width: 70%;
    padding: 0.75em 0;
    text-align: center;
}








