{% load i18n static common_tags %}
<style>
    .select-cube-cone-group {
        border-radius: 10px;
        background-color: grey;
        padding: 5px;
        margin: 5px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
        margin-left: 10px;
    }
    .grid-item {
        text-align: center;
    }
    .clickable_icon {
        height: 35px;
        position: relative;
        top: 5px;
    }
    .cone_select_field {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
</style>
<div class="radioGroup cone_select_field">
    <div class="grid-container">
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" onclick="log('cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" onclick="log('cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" onclick="log('cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" onclick="log('cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" onclick="log('cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" onclick="log('cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" onclick="log('cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" onclick="log('cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group">
                <img class="clickable_icon" onclick="log('cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" onclick="log('cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
    </div>


    <label for="{{ widget.name }}" hidden></label>
    <input type="text" id="{{ widget.name }}" name="{{ widget.name }}" hidden value="111">
</div>

<script>
    function log(str) {
        console.log(str);
    }

</script>

