{% load i18n static common_tags %}

<div class="radioGroup cone_select_field">
    <div class="grid-container">
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-000" onclick="select_game_piece('{{ widget.name }}-000', 'cone')">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-001" onclick="select_game_piece('{{ widget.name }}-001', 'cube')">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-002" onclick="select_game_piece('{{ widget.name }}-002', 'cone')">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-010" onclick="select_game_piece('{{ widget.name }}-010', 'cone')">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-011" onclick="select_game_piece('{{ widget.name }}-011', 'cube')">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-012" onclick="select_game_piece('{{ widget.name }}-012', 'cone')">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-020">
                <img class="clickable_icon" onclick="select_game_piece('{{ widget.name }}-020', 'cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" onclick="select_game_piece('{{ widget.name }}-020', 'cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-021">
                <img class="clickable_icon" onclick="select_game_piece('{{ widget.name }}-021', 'cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" onclick="select_game_piece('{{ widget.name }}-021', 'cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-022">
                <img class="clickable_icon" onclick="select_game_piece('{{ widget.name }}-022', 'cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" onclick="select_game_piece('{{ widget.name }}-022', 'cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-100" onclick="select_game_piece('{{ widget.name }}-100', 'cone')">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-101" onclick="select_game_piece('{{ widget.name }}-101', 'cube')">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-102" onclick="select_game_piece('{{ widget.name }}-102', 'cone')">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-110" onclick="select_game_piece('{{ widget.name }}-110', 'cone')">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-111" onclick="select_game_piece('{{ widget.name }}-111', 'cube')">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-112" onclick="select_game_piece('{{ widget.name }}-112', 'cone')">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-120">
                <img class="clickable_icon" onclick="select_game_piece('{{ widget.name }}-120', 'cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" onclick="select_game_piece('{{ widget.name }}-120', 'cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-121">
                <img class="clickable_icon" onclick="select_game_piece('{{ widget.name }}-121', 'cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" onclick="select_game_piece('{{ widget.name }}-121', 'cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-122">
                <img class="clickable_icon" onclick="select_game_piece('{{ widget.name }}-122', 'cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" onclick="select_game_piece('{{ widget.name }}-122', 'cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-200" onclick="select_game_piece('{{ widget.name }}-200', 'cone')">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-201" onclick="select_game_piece('{{ widget.name }}-201', 'cube')">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-202" onclick="select_game_piece('{{ widget.name }}-202', 'cone')">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-210" onclick="select_game_piece('{{ widget.name }}-210', 'cone')">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-211" onclick="select_game_piece('{{ widget.name }}-211', 'cube')">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-212" onclick="select_game_piece('{{ widget.name }}-212', 'cone')">
                <img class="clickable_icon" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-220">
                <img class="clickable_icon" onclick="select_game_piece('{{ widget.name }}-220', 'cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" onclick="select_game_piece('{{ widget.name }}-220', 'cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-221">
                <img class="clickable_icon" onclick="select_game_piece('{{ widget.name }}-221', 'cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" onclick="select_game_piece('{{ widget.name }}-221', 'cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
        <div class="grid-item">
            <div class="select-cube-cone-group" id="{{ widget.name }}-222">
                <img class="clickable_icon" onclick="select_game_piece('{{ widget.name }}-222', 'cone')" src="{{ MEDIA_URL }}{% static '2023/2023Cone.png' %}" alt="cone">
                <img class="clickable_icon" onclick="select_game_piece('{{ widget.name }}-222', 'cube')" src="{{ MEDIA_URL }}{% static '2023/2023Cube.png' %}" alt="cube">
            </div>
        </div>
    </div>


    <label for="{{ widget.name }}" hidden></label>
    <input type="text" id="{{ widget.name }}" name="{{ widget.name }}" hidden value="111">
</div>

<script>
    const toRGB = (color) => {
        const { style } = new Option();
        style.color = color;
        return style.color;
    }

    function select_game_piece(id, str) {
        const yellow = toRGB('#f5e923')
        const purple = toRGB('#9b3b96')
        let item = document.getElementById(id);
        if (item.nodeName === 'img')
            item = item.parentElement
        console.log(item.style.backgroundColor)
        if (item.style.backgroundColor !== purple && item.style.backgroundColor !== yellow)
            item.style.background = str === 'cone' ? yellow : purple
        else
            item.style.background = 'grey'
    }



</script>

