
<div class="timerGroup">
    <div style="display: flex; justify-content: center"><span id="{{ widget.name }}-seconds">00</span>:<span id="{{ widget.name }}-tens">00</span></div>
    <div class="timerControls">
        <button class="timerButton" style="width: 100px;" type="button" id="{{ widget.name }}-button-start" onclick="buttonStart('{{ widget.name }}')">Start</button>
        <button class="timerButton" style="width: 100px;" type="button" id="{{ widget.name }}-button-stop" onclick="buttonStop('{{ widget.name }}')">Stop</button>
        <button class="timerButton" style="width: 100px;" type="button" id="{{ widget.name }}-button-reset" onclick="buttonReset('{{ widget.name }}')">Reset</button>
    </div>
    <input type="hidden" id="{{ widget.name }}" name="{{ widget.name }}" value="{{ widget.value }}">
</div>
