{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'setup/setup.css' %}"/>
<script type="text/javascript" src="{% static 'setup/setup.js' %}">  </script>
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>


<div>
    <h1 class="title">Setup</h1>
    <table>
        <tr>
            <td id="change_event">
                <button onclick="location.href='{% url 'setup:change-event' %}' ">Change Event</button>
            </td>
            <td>
                <button>Edit Teams</button>
            </td>

        </tr>
        <tr>
            <td>
                <button>Import TBA</button>
            </td>
            <td>
                <button>Edit Matches</button>
            </td>
        </tr>
    </table>

    <progress value=0.9> </progress>
</div>