@charset "utf-8";
/* CSS Document */
/* Unsupported and only for reference 
Please don't use this document anymore */

.backgroundColor { background-color: #333333 }
.CoyotesColor { background-color: #006A4E} 
.MaxTechColor { background-color: #0F4D8D; }
.SimboticsColor { background-color: #B4150B}
.CeltXColor { background-color: #1C984F}
.DaveColor { background-color: #11a109}
.OttawaTrashColor { background-color: #8C1D74}
.lightblue { background-color: #2a75ba;}
.TheoryColor { background-color: #F5841F}
.YellowColor { background-color: #D7AE22}
.DarkRedColor { background-color: darkred}
.OdysseyColor { background-color: #472529}
.HighVoltageColor { background-color: #D42E12;
background-color: #151F6D}