@charset "utf-8";
/* CSS Document */

.tripleContainer {
	display: flex; 
	flex-wrap: wrap;
	flex-direction: row;
}

.tripleContainer > div { 
	width: 30%;
	margin: 5px;
}

.smallGraph {
	height: 300px;
	width: auto;
	margin: 0;
	background: none;
	transition: none;
}

.redAllianceBox {
	background-color: #B4150B;
}