

.title {
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align: center;
    font-family: "Arial";
    font-style: normal;
    /* font-size: calc([minimum _size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) /
                ([maximum viewport width] - [minimum viewport width])));  */
    font-size: calc(36px + (100 - 36) * ((85vw - 300px) / (1600 - 300)));
}

.container,
.graphsetting{
    display: grid;
    grid-column-gap: 0.5%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas:
            'header  header  header header header'
            'subheader subheader subheader subheader subheader'
            'left left left right right'
            'left left left right right'
            ' bot bot bot bot bot';
}

.graphsetting{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas:
            'left center right'
            'left center right';
    margin: 10px;
    height: 50%;
    justify-self: center;
    align-content: center;
}

.teamlist{
    display: block;
    max-width: 30%;
    margin: 15px;
    grid-area: left;
    grid-row: 1/3;
}


.img{
    width: 100%;
    display: block;
    align-content: center;
    justify-content: center;
}

body {
    background: lightyellow;
}


.button_group{
    width: 100%;
    display: flex;
}

.left,
.right,
.center,
.left_center{
  padding: 10px;
}

.left{
    display: flex;
    grid-area: left;
}
.right{
    display: flex;
    grid-area: right;
}



.header{
    display: block;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    text-align: center;
    font-family: "Arial", serif;
    font-style: normal;
    font-weight: 500;
    grid-column: 1/6;
    /* font-size: calc([minimum _size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) /
                ([maximum viewport width] - [minimum viewport width])));  */
    font-size: calc(25px + (100 - 36) * ((60vw - 300px) / (1600 - 300)));
}

.input_heading{
    font-family: 'Lato', sans-serif;
    font-size: 1vw;
    font-weight: 300;
    text-align: left;
	border: 0;
	padding: 0.5vw 1vh;
	width: 100%;
    display: flex;
}

.display_current_value{
    font-family: 'Lato', sans-serif;
	font-size: 1em;
    font-weight: 300;
    text-align: center;
	border: 0;
	padding: 1em 2em;
    margin: 0.5em 0;
	width: 100%;
    background: rgba(0,0,0,0.1);
}

button {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
    font-weight: 300;
	border: 0;
	padding: 1em 2em;
    margin: 0.5em 0;
	width: 100%;
    opacity: .5;
    background: rgb(173,216,230);
    -webkit-transition:.2s;
}
button:hover{
    opacity: .75;
    background: rgb(173,216,230);
}
button:active{
    opacity: 1.0;
    background: rgb(173,216,230);
}

.bot{
    grid-column: 1/3;
    display: flex;
    grid-area: bot;
    width: 50%;
    justify-self: center;
}

.counter{
    font-family: "Lato", sans-serif;
    font-style: normal;
	font-size: 30px;
	text-align: center;
    width: 100%;
    display: flex;
    background: rgba(0,0,0,0.1);
    padding: 2em 0;
    margin: 0.25em 0;

}

.box {
    width: 100%;
    border: 0px solid green;
    padding: 20px;
    margin: 10px;
}

.hidden{
    display: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    height: 7%;
    margin: 10px;
    justify-self: center;
}
input[type="radio"]{

}

.right-options{
    grid-area: right;
}

.center-options{
    grid-area: center;
}

.right-options,
.center-options{
    width: 100%;
    max-height: 100%;
    margin: 10px;


}









